<template>
    <section class="sign-index">
     <div class="columns content-columns">
       <div class="column container is-half form-section">
         <div class="header-section">
           <no-ssr>
             <ui-svg :name="arsenLogo"
                     height="34"
                     width="82">
             </ui-svg>
           </no-ssr>
         </div>
         <div class="connexion">
           <h3 class="title-header" v-html="titleHeader"></h3>
           <div class="input-section">
             <Notifications :error-message="errorMessage" class="error-shower" v-if="displayErrors === true"></Notifications>
             <div class="field">
               <div class="control">
                 <input class="input is-medium connexion-input" type="text" placeholder="Email ou Téléphone" v-model="loginIdentifiant"
                 @focus="displayErrors = false">
               </div>
             </div>
             <div class="field">
               <div class="control">
                 <input class="input is-medium connexion-input" type="password" placeholder="Mot  de passe" v-model="loginPassword"
                        @focus="displayErrors = false">
               </div>
             </div>
             <div class="columns stay-forget-section">
               <div class="column is-three-fifths">
                 <div class="stay-conneted">
                   <label class="checkbox">
                     <input type="checkbox">
                     Rester Connecter
                   </label>
                 </div>
               </div>
               <div class="column has-text-right">
                 <div class="forget-password">
                   <a>Mot de passe oublié ?</a>
                 </div>
               </div>
             </div>
             <div class="connexion-button-section">
               <a class="button connexion-button" @click="loginUser">
                 <span class="icon load-icon" v-if="showLoginLoader === true">
                   <self-building-square-spinner
                     :animation-duration="3000"
                     :size="20"
                     color="#FFF"/>
                        </span>
                 Connexion</a>
             </div>
             <div class="new-account-section">
               <nuxt-link class="new-account-link" to="/users/signup">Nouveau ? Créer un compte</nuxt-link>
             </div>
           </div>
         </div>
       </div>
       <div class="column is-half logo-column has-text-right">
         <no-ssr>
           <ui-svg :name="floorIcon"
                   height="800"
           >
           </ui-svg>
         </no-ssr>
       </div>
     </div>
    </section>
</template>

<script>
    import Notifications from "../../../components/Notifications";
    import { mapState } from 'vuex'

    import axios from "~/plugins/axios"
    import apiroute from "../../../plugins/apiroute";
    import SelfBuildingSquareSpinner from "../../../node_modules/epic-spinners/src/components/lib/SelfBuildingSquareSpinner";
    export default {
      name: "index",
      components: {SelfBuildingSquareSpinner, Notifications},
      data() {
        return {
          floorIcon: "filigrane",
          arsenLogo: "arsen",
          titleHeader: "Connexion",
          errorMessage: null,
          displayErrors: false,
          loginIdentifiant: "",
          loginPassword: "",
          showLoginLoader: false
        }
      },
      methods: {
        controlInput() {
          this.showLoginLoader = true;
          if (this.loginIdentifiant === "") {
            this.displayErrors = true;
            this.showLoginLoader = false;
            this.errorMessage = "Veillez entrez votre numéro de téléphone ou votre email";
            return false
          } else if (this.loginPassword === "") {
            this.displayErrors = true;
            this.errorMessage = "Veillez entrez votre mot de passe svp";
            this.showLoginLoader = false;
            return false
          } else if (this.loginIdentifiant === "" && this.loginPassword === "") {
            this.displayErrors = true;
            this.showLoginLoader = false;
            this.errorMessage = "Veuillez renseigner votre mot de passe et votre identifiant";
            return false
          } else {
            return true
          }
        },
        loginUser() {
          if (this.controlInput() === true) {
            this.showLoginLoader = true;
            axios.put(apiroute.login, {
              "identifiant": this.loginIdentifiant,
              "password": this.loginPassword
            }).then((response) => {
              // TODO Delete log of user informations
                console.log(response.data);
                this.$store.commit('loggedUsers/setInfo', response.data);
                axios.put(apiroute.getContracts, {
                  "userId": this.$store.state.loggedUsers.userInfo.userId
                }).then((response) => {
                  // TODO Delete Contrat log information
                  console.log(response.data);
                  this.$store.commit('loggedUsers/setContracts', response.data);
                  if (this.$store.state.loggedUsers.userContracts.length === 0) {
                       if (this.$store.state.loggedUsers.userInfo.isBusiness === true){
                         this.$router.push("/users/subscriptions/entreprise");
                       } else if (this.$store.state.loggedUsers.userInfo.isBusiness === false) {
                         this.$router.push("/users/subscriptions/personal");
                       }
                  } else {
                    this.$router.push("/users/dashboard");
                    this.showLoginLoader = false;
                  }
                }).catch((e) => {
                  console.log(e)
                })
            }).catch((e) => {
             if (e.response.status === 401) {
               this.errorMessage = "Mauvais identifiant ou mot de passe";
               this.displayErrors = true;
               this.showLoginLoader = false;
             }
            })
          }
        },
      },
    }
</script>

<style scoped lang="scss">
  @import "../../../assets/css/main.scss";
.sign-index {
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  .content-columns{
    height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    .logo-column {
      padding-left: 10%;
      background-color: $text-blue;
    }

    .form-section {
      padding-top: 6%;
      padding-left: 10%;
      padding-right: 6%;
    }
    .connexion {
      margin-top: 17%;

      .title-header {
        font-family: $text-font;
        font-size: $button-size;
        color: $text-black;
        font-weight: bolder;
      }
      .input-section {
        margin-top: 2%;
        width: 90%;

        .error-shower {
          margin-bottom: 2%;
        }
        .connexion-input {
          box-shadow: none;
          border: none;
          font-family: $text-font;
          border-bottom: 1px  solid $text-grey;
          border-radius: 0 !important;
          font-size: $text-very-light;
        }
      }
      .stay-forget-section {
        margin-top: 4%;

        .stay-conneted {
          font-family: $text-font;
          font-weight: bold;
          color: black;
          font-size: $text-very-light;
        }
        .forget-password {
          font-family: $text-font;
          font-weight: $text-light;
          color: $text-blue;
          font-size: $text-very-light;
          margin-left: -15%;
        }
      }
      .connexion-button-section {
        margin-top: 4%;

        .connexion-button {
          font-family: $text-font;
          color: $text-white;
          font-weight: bolder;
          background-color: $text-blue;
          width: $button-width-two;
          height: $button-size;

          .load-icon {
            display: inline-block;
            margin-right: 2%;
          }
        }

      }
      .new-account-section {
        margin-top: 2%;
        font-family: $text-font;
        padding-left: 1.5%;

        .new-account-link {
          font-family: $text-font;
          text-transform: uppercase;
          text-decoration: none;
          color: $text-black;
          font-size: .7rem;
          font-weight: bolder;
        }
      }
    }
  }
}
</style>
