<template>
    <section class="add-beneficiary">
      <div class="container">
        <div class="columns content-section-columns">
          <div class="column cancel-button-section">
            <nuxt-link to="/users/dashboard" class="button cancel-button">{{cancelButtonLabel}}</nuxt-link>
          </div>
          <div class="column is-three-quarters content-column">
            <div class="content-column-title-section">
              <h3 class="content-title">{{contentTitle}}</h3>
              <h5 class="content-subtitle-one">{{contentSubtitleOne}}</h5>
              <h5 class="content-subtitle-two">{{contentSubtitleTwo}}</h5>
            </div>
            <div class="nb-media-section">
              <div class="media nb-media box">
                <div class="media-left nb-media-left">
                  <no-ssr>
                    <ui-svg :name="nbIcon"
                             height="32"
                             width="32">
                    </ui-svg>
                  </no-ssr>
                </div>
                <div class="media-content nb-content">
                  <p class="nd-content-text">{{nbText}}</p>
                </div>
              </div>
            </div>
            <div class="columns add-beneficiary-section-header">
              <div class="column add-beneficiary-title-section has-text-left">
                <div class="add-beneficiary-title">{{surnmane}}</div>
              </div>
              <div class="column add-beneficiary-title-section has-text-left">
                <div class="add-beneficiary-title">{{name}}</div>
              </div>
              <div class="column add-beneficiary-title-section has-text-left">
                <div class="add-beneficiary-title">{{cardIdLabel}}</div>
              </div>
              <div class="column add-beneficiary-title-section has-text-left">
                <div class="add-beneficiary-title">{{email}}</div>
              </div>
              <div class="column add-beneficiary-title-section has-text-left">
                <div class="add-beneficiary-title">{{phone}}</div>
              </div>
            </div>
            <form class="columns form-input-section" v-for="(item, index) in numberBeneficiaryDefault" :key="item + index">
              <div class="column has-text-left surname-section table-column">
                <input type="text" class="input surname-input table-input" v-model="beneficiarySurname[index]">
              </div>
              <div class="column has-text-left name-section table-column">
                <input class="input name-input table-input" type="text" v-model="beneficiaryUsername[index]">
              </div>
              <div class="column has-text-left card-number-section table-column">
                <input type="tel" maxlength="9" class="input card-number-input table-input" v-model="beneficiaryCardIDNumber[index]"
                @keypress="onlyNumbers">
              </div>
              <div class="column has-text-left email-section table-column">
                <input type="email" class="input email-input table-input" v-model=" beneficiaryEmail[index]">
              </div>
              <div class="column has-text-left phone-section table-column">
                <input type="tel" maxlength="8" class="input phone-input table-input" v-model="beneficiaryPhoneNumber[index]"
                       @keypress="onlyNumbers">
              </div>
            </form>
            <div class="add-form-button-section">
              <a class="add-form-button button" @click="addForm">
                <span class="icon is-medium">
                  <no-ssr>
                    <ui-svg :name="addIcon"
                            width="18"
                            height="18">

                    </ui-svg>
                  </no-ssr>
                </span>
                <span>{{addFormLabel}}</span>
              </a>
            </div>
            <div class="submit-button-section has-addons-right">
              <a class="button submit-button">{{submitLabel}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "addBeneficiary",
        data () {
          return {
            cancelButtonLabel: "Annuler",
            contentTitle: "Inviter des bénéficiaires",
            contentSubtitleOne: "Veuillez remplir le formulaire ci-après.",
            contentSubtitleTwo: "Un mail et/ou SMS leur sera envoyer pour s’inscrire et confirmer leur compte.",
            nbIcon: "037-warning",
            nbText: "NB: Les noms, prénoms et numéros de carte nationale sont obligatoire. Vous avez le choix entre le numéro de téléphone et le mail des bénéficiaires. Veuiller faire le meilleur choix. Ex : pour un bénéficiaire n’utilisant pas régulièrement son adresse mail, veuillez préférez son numéro de téléphone",
            surnmane: "Prénom",
            name: "Nom",
            cardIdLabel: "N° Carte d'Idnetité",
            email: "email",
            phone: "téléphone",
            addFormLabel: "ajouter",
            addIcon: "038-add",
            submitLabel: "Envoyer les invitations",
            beneficiarySurname: [],
            beneficiaryUsername: [],
            beneficiaryCardIDNumber: [],
            beneficiaryEmail: [],
            beneficiaryPhoneNumber: []
          }
        },
      props:  {
          numberBeneficiary: {
            type: Number,
            default: 2
          }
      },
     methods: {
       onlyNumbers ($event) {
         let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
         if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
           $event.preventDefault();
         }
       },
       addForm () {
         this.numberBeneficiary++;
         console.log(this.numberBeneficiaryDefault)
       }
     },
      computed: {
        numberBeneficiaryDefault: function () {
          return this.numberBeneficiary
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../../assets/css/main.scss";
 .add-beneficiary {
   height: 100% !important;

   .content-section-columns {
       padding-top: 6%;
     .cancel-button-section {

       .cancel-button {
         font-family: $text-font;
         font-size: $text-small;
         color: $text-grey;
         border: $border-light solid $text-grey;
         padding: 8%;
         width: 80%;
         text-transform: uppercase;
       }
     }

     .content-column {
       padding-top: 8%;
       .content-column-title-section {
         .content-title {
           font-family: $text-font;
           font-size: xx-large;
           color: $text-black;
           font-weight: bolder;
         }
         .content-subtitle-one {
           font-family: $text-font;
           font-weight: lighter;
           color: $text-black;
           opacity: .6;
           font-size: $text-small;
         }
         .content-subtitle-two {
           font-family: $text-font;
           font-weight: lighter;
           color: $text-black;
           opacity: .6;
           font-size: $text-small;
         }
       }
       .nb-media-section {
          border-radius: $button-border;
           margin-top: 2%;
           width: 90%;
         .nb-media {
            box-shadow: none;
            border: none;
           border-radius: $button-border;
           background-color: $text-grey;
           .nb-content {

             .nd-content-text {
               font-family: $text-font;
               font-weight: lighter;
               color: $text-black;
               opacity: .4;
               font-size: $text-small-two;
               text-align: justify-all;
             }
           }
         }
       }
       .add-beneficiary-section-header {
         margin-top: 2%;
         margin-left: .2%;
         width: 90%;
         background-color: $text-grey;
         .add-beneficiary-title {
           font-family: $text-font;
           font-weight: bolder;
           font-size: $text-info-small;
           color: $text-black;
           opacity: .6;
           text-transform: uppercase;
         }
       }
       .form-input-section {
         width: 90%;
         margin-left: .2%;
         border-bottom: $border-light $text-grey solid;

         .surname-section {
           border-left: $border-light $text-grey solid;
         }
         .table-column{
           border-right: $border-light $text-grey solid;
           padding: 1%;
           .table-input {
             width: 100%;
             font-family: $text-font;
             font-weight: normal;
             color: $text-black;
             box-shadow: none;
             opacity: .4;
             font-size: $text-small-two;
             border: none;
           }
         }
       }
       .add-form-button-section {
         width: 90%;
         padding: 0;
         .add-form-button{
           background-color: $text-grey;
           width: 100%;
           font-family: $text-font;
           font-weight: normal;
           color: $text-black;
           padding: 2%;
           text-transform: capitalize;
         }
       }
       .submit-button-section {
         width: 90%;

         .submit-button {
           background-color: $text-blue;
           font-family: $text-font;
           font-weight: normal;
           color: $text-white;
           padding: 2%;
           width: 30%;
           font-size: $text-very-light;
           float: right;
           text-transform: capitalize;
         }
       }
     }
   }
 }
</style>
