<template>
    <section class="dashboard-page">
     <div class="header-section">
       <Header @showModal="openRefundModal" :Username="connnectedUserName" :profil-image-url="userProfilImage"
               @showProfil="showProfil" @showOption="showOption" :is-pro="isPro"
               :subscription-type="connectedSub"></Header>
     </div>
     <div class="content container">
       <div class="columns content-columns">
         <div class="column has-text-right content-column" v-if="componentPosition !== 5">
           <div class="columns vertical-columns">
             <div class="column has-text-left" v-for="(item, index) in Buttons" :key="item +index">
               <a class="button is-medium has-text-left menu-button"
               @click="changeItem(index)">
                   <span class="icon is-medium" v-if="position !== index">
                     <no-ssr>
                       <ui-svg :name="item.icon"
                               height="24"
                               width="24"
                               :color="item.color">
                       </ui-svg>
                     </no-ssr>
                   </span>
                 <span class="icon is-medium" v-if="position === index">
                     <no-ssr>
                       <ui-svg :name="item.icon"
                               height="24"
                               width="24"
                               :color="item.selectColor">
                       </ui-svg>
                     </no-ssr>
                   </span>
                 <span class="has-text-left button-label" :class="{'is-selected': position === index}">{{item.label}}</span>
               </a>
             </div>
           </div>
         </div>
         <div class="column is-four-fifths content-column details-section">
           <span class="details-title" v-if="position === 0">{{Buttons[position].label}}</span>
           <div class="components-section">
             <Acceuil v-show="componentPosition === 0" :start-date="effectDate"
             :subscriptionType="connectedSub"></Acceuil>
             <Guarantie v-show="componentPosition === 1"></Guarantie>
             <Beneficiary v-show="componentPosition === 2"></Beneficiary>
             <Document v-show="componentPosition === 3"></Document>
             <Share v-show="componentPosition === 4"></Share>
             <Profil v-show="componentPosition === 5" :profilImage="userProfilImage" :userFirstName="userFirstName"
                    :userLastName="userLastName" :userPhone="userPhone" :userEmail="userEmail" :userProfession="userProfession"
                    :entrepriseName="entrepriseName" ></Profil>
           </div>
         </div>
       </div>
     </div>
      <div class="modal" :class="{'is-active': askRefund === true}">
        <div class="modal-background" @click="closeModal"></div>
        <div class="modal-content my-modal">
             <div class="card refund-card">
               <div class="card-content refund-card-content">
                 <h3 class="refund-card-title">{{refundSectionTitle}}</h3>
                 <h3 class="refund-card-couvert-title">{{refundCouvertTitle}}</h3>
                 <v-autocomplete :items="items" v-model="item" :get-label="getLabel" :component-item='template' @update-items="updateItems"
                                 input-class="test"  :input-attrs="{placeholder: 'Commencer à rechercher la garantie ici'}"
                                 @item-selected="itemSelected" @focus="HideShowAmountBlock">
                 </v-autocomplete>
                 <div class="garantie-selected-amount" v-if="showAmountBlock === true">
                   <div class="media box garantie-amount-box">
                     <div class="media-left">
                       <no-ssr>
                         <ui-svg :name="warningIcon"
                                 height="18"
                                 width="18">
                         </ui-svg>
                       </no-ssr>
                     </div>
                     <div class="media-content">
                       <p>{{refundText}} <span>{{refundMaxAmount}}</span> {{refundTextEnd}}</p>
                     </div>
                   </div>
                 </div>
                 <div class="justif-section">
                   <h3 class="refund-card-couvert-title">{{justifTitle}}</h3>
                   <div class="upload-files" v-if="fileName.length !== 0">
                     <p class="columns filename-section" v-for="(item, index) in fileName" :key="item + index">
                       <span class="column is-1 file-icon">
                         <no-ssr>
                           <ui-svg
                             :name="uploadFileIcon"
                             width="30"
                             height="30">
                           </ui-svg>
                         </no-ssr>
                       </span>
                       <span class="column filename-label">{{item}}</span>
                     </p>
                   </div>
                   <h3 class="supported-files-label">{{supportedFille}}</h3>
                   <div class="upload-file-section">
                     <div class="field">
                       <div class="file file-input-section is-boxed">
                         <label class="file-label">
                           <input class="file-input" type="file" @change="onFileChange" multiple="multiple">
                           <span class="file-cta file-input-block">
                                <span class="file-icon">
                                 <no-ssr>
                                   <ui-svg :name="fileIcon"
                                           height="32"
                                           width="32">
                                   </ui-svg>
                                 </no-ssr>
                                 </span>
                           </span>
                         </label>
                       </div>
                     </div>
                   </div>
                   <div class="comment-section">
                     <textarea class="textarea comment-input" rows="1" placeholder="Laisser un Commentaire"></textarea>
                   </div>
                   <div class="submit-button-section">
                     <a class="button submit-button">Soumettre</a>
                   </div>
                 </div>
               </div>
             </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
      </div>
    </section>
</template>

<script>
  import Header from "../../../components/dashboard_components/Header.vue"
  import Acceuil from "../../../components/dashboard_components/Acceuil.vue";
  import Guarantie from "../../../components/dashboard_components/Guarantie";
  import Beneficiary from "../../../components/dashboard_components/Beneficiary";
  import Document from "../../../components/dashboard_components/Document";
  import Share from "../../../components/dashboard_components/Share";
  import SearchItem from "../../../components/dashboard_components/SearchItem";
  import Guaranties from "../../../static/guaranties"
  import Profil from "../../../components/dashboard_components/Profil";
    export default {
        name: "index",
        components: {Profil, SearchItem, Share, Document, Beneficiary, Guarantie, Acceuil, Header},
      head: {
        bodyAttrs: {
          class: 'dashboard-background'
        }
      },
      data () {
          return {
            Buttons: [
              {
                label: "Acceuil",
                icon: "021-acceuil",
                color: "#ADADAD",
                selectColor: "#2864F0"
              },
              {
                label: "Garanties",
                icon: "023-guarantie",
                color: "#ADADAD",
                selectColor: "#2864F0"
              },
              {
                label: "Bénéficiaires",
                icon: "020-beneficiaire",
                color: "#ADADAD",
                selectColor: "#2864F0"
              },
              {
                label: "Documents",
                icon: "022-document",
                color: "#ADADAD",
                selectColor: "#2864F0"
              },
              {
                label: "Partager",
                icon: "024-share",
                color: "#ED3F32",
                selectColor: "#ED3F32"
              }
            ],
            position: 0,
            componentPosition: 0,
            template: SearchItem,
            items: [],
            item: {},
            refundSectionTitle: "Demande de remboursement de soins",
            refundCouvertTitle: "Couverture concerné",
            refundText: "Vous pouvez demander jusqu'a ",
            refundTextEnd: "de remboursement pour cette couverture",
            warningIcon: "034-info",
            refundMaxAmount: 0,
            showAmountBlock: false,
            justifTitle: "Pièce(s) justificative(s)",
            supportedFille: "Fichiers supportés .jpg .jpeg .png .pdf",
            fileIcon: "035-file",
            askRefund: false,
            fileName: [],
            uploadFileIcon: "036-invite"
          }
      },
      computed: {
        connectedUser: function () {
            if (!(this.$store.state.loggedUsers.userInfo === null || this.$store.state.loggedUsers.userInfo === undefined)) {
              return this.$store.state.loggedUsers.userInfo
            } else {
              this.navigate("/users/signin")
            }
          },
        connnectedUserName: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            if (this.connectedUser.isBusiness === false) {
              return this.connectedUser.firstName + " " + this.connectedUser.lastName
            } else if (this.connectedUser.isBusiness === true) {
              return this.connectedUser.denomination
            }
          } else {
            this.navigate("/users/signin")
          }
        },
        userFirstName:function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            return this.connectedUser.firstName
          } else {
            this.navigate("/users/signin")
          }
        },
        userLastName: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            return this.connectedUser.lastName
          } else {
            this.navigate("/users/signin")
          }
        },
        userPhone: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            return this.connectedUser.phone
          } else {
            this.navigate("/users/signin")
          }
        },
        userEmail: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            return this.connectedUser.emailAddress
          } else {
            this.navigate("/users/signin")
          }
        },
        userProfession: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            return this.connectedUser.profession
          } else {
            this.navigate("/users/signin")
          }
        },
        entrepriseName: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined))  {
            return this.connectedUser.denomination
          } else {
            this.navigate("/users/signin")
          }
        },
        userProfilImage: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined)) {
            return "https://firebasestorage.googleapis.com/v0/b/bambatacourses-75b96.appspot.com/o/images%2Fc60fc96b-5a57-4695-a4e2-18b2e142403f?alt=media&token=6fe13ffa-972e-4a56-a3d1-d234b8bf7114"
          } else {
           this.navigate("/users/signin")
          }
        },
        effectDate: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined)) {
            return this.$store.state.loggedUsers.userContracts.effectDate
          } else {
            this.navigate("/users/signin")
          }
        },
        connectedSub: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined)) {
            return this.$store.state.loggedUsers.userContracts.plan
          } else {
            this.navigate("/users/signin")
          }
          },
        isPro: function () {
          if (!(this.connectedUser === null || this.connectedUser === undefined)) {
            if (this.connectedUser.isBusiness === false) {
              return false
            } else if (this.connectedUser.isBusiness === true) {
              return true
            }
          } else {
            this.navigate("/users/signin")
          }
        }
      },
      methods: {
        onFileChange(event){
          let fileData =  event.target.files;
          let vm = this;
          if (fileData) {
            let files_count = fileData.length;
            for (let i = 0; i <files_count ; i++) {
              vm.fileName.push(fileData[i].name)
            }
          }

        },
        navigate (goUrl) {
          this.$router.push(goUrl);
        },
        changeItem (index) {
           this.position = index;
          this.componentPosition = index
        },
        getLabel (item) {
          if (item) {
            return item.title
          }
          return ''
        },
        updateItems (text) {
         this.items = Guaranties.filter((item) => {
           return (new RegExp(text.toLowerCase())).test(item.title.toLowerCase())
         })
        },
        itemSelected (item) {
          if (item.title === undefined) {
            this.showAmountBlock = false
          } else {
            this.showAmountBlock = true;
            this.refundMaxAmount = item.refundAmount
          }
        },
        HideShowAmountBlock () {
          this.showAmountBlock = false
        },
        openRefundModal () {
          this.askRefund = true
        },
        closeModal () {
          this.askRefund = false;
          console.log(this.askRefund)
        },
        showProfil (answer) {
          this.componentPosition = answer;
          this.position = answer
        },
        showOption (answer) {
          this.componentPosition = answer;
          this.position = answer
        }
      },
      mounted() {
          if (this.$store.state.loggedUsers.userInfo === null || this.$store.state.loggedUsers.userInfo === undefined) {
            this.$router.push("/users/signin")
          }
      }
    }
</script>

<style  lang="scss">
  @import "../../../assets/css/main.scss";

  html {
    background-color: $text-grey !important;
    min-width: 930px !important;
  }
  .content-columns {
    margin-top: 5%;
    padding: 2%;

    .content-column {
      margin-left: 2%;
    }

    .vertical-columns{
      display: flex;
      flex-direction: column;
      position: fixed;
    }
    .menu-button{
      background-color: transparent;
      font-family: $text-font;
      border: none;

      .button-label{
        margin-left: 2%;
        color: $text-black-grey;
      }
      .is-selected {
        color: $text-blue;
      }
    }
    .details-section {
      padding-top: 2.5%;
      padding-right: 5%;

      .details-title {
        font-family: $text-font;
        font-size: $button-size;
        color: $text-black-grey;
        padding-left: 4.5%;
      }
    }
  }
  .components-section {
   padding: 3%;
  }
  .refund-card {
    padding-top: 3%;
    width: 60%;
    margin: auto;
    height:auto;


  }
  .test {
     width: 100%;
     height: $input-size;
     font-family: $text-font;
     font-size: $text-very-light !important;
     padding: 3%;
     border-radius: $button-border;
    border: 1px solid $text-grey;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  }
  .test:focus {
    border: 1px solid $text-blue;
  }
  .v-autocomplete-list {
    width: 100%;
    text-align: left;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid $text-grey;
    border-left: 1px solid $text-grey;
    border-right: 1px solid $text-grey;
    background-color: $text-white;
    z-index: 9999;
  }
  .refund-card-title {
    font-family: $text-font;
    font-size: $text-small-two;
    font-weight: bolder;
    margin-bottom: 2%;
  }
  .refund-card-couvert-title  {
    font-family: $text-font;
    font-size: $text-very-light;
    font-weight: lighter;
    color: black;
    margin-top: 4%;
    margin-bottom: 1%;
  }
  .garantie-selected-amount{
    margin-top: 2%;

    .garantie-amount-box {
      padding: 2%;
      font-family: $text-font;
      font-size: $text-info;
      color: black;
      font-weight: lighter;
      opacity: .8;
      border: $border-light solid $text-premium;
    }
  }
  .supported-files-label {
    font-family: $text-font;
    font-size: $text-info;
    font-weight: lighter;
    color: black;
    opacity: .3;
  }
  .file-input-section {
    background-color: transparent;
    margin-top: 2%;
    border: 2px dotted $text-grey;
    border-radius: $button-border;

    .file-input-block {
      width: 335px;
      background-color: transparent !important;
      border: none;
    }
  }
  .comment-section {
    margin-top: 3%;

    .comment-input {
      border: $border-light solid $text-grey;
      box-shadow: none !important;
    }
  }
  ::-webkit-input-placeholder {
    font-family: $text-font;
    font-weight: lighter;
    font-size: small;
  }
  .submit-button-section {
    margin-top: 2%;

    .submit-button {
      font-family: $text-font;
      font-size: $text-small;
      font-weight: normal;
      background-color: $text-blue;
      color: $text-white;
      width: 100%;
    }
  }
  .upload-files {
    margin-bottom: 5%;
  }
  .filename-section {
    background-color: $text-grey;
    margin: 2%;
    padding: 2%;
    .filename-label {
      font-family: $text-font;
      font-size: $text-info-small;
      font-weight: lighter;
      color: $text-black;
      opacity: .7;
    }
  }

</style>
