<template>
  <section class="card-id">
    <div class="id-title-section has-text-left">
      <p class="id-title" v-html="idTitle"></p>
      <p class="id-subtiltle" v-html="idSubtitle"></p>
    </div>
    <div class="input-section">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input  login-input"
                 placeholder="EX: 500400775" v-model="cardId"
                 type="tel" maxlength="9" @keypress="onlyNumber"
                 @keyup="isCompleted" @focus="changeBorder"
                 :class="{'is-colored': colored === true}"
                 name="userCardId" v-validate="'required|numeric|length:9'">
          <span class="error-section box" v-if="error === true">{{ errors.first('userCardId') + " " + usedCardError }}</span>
                <span class="icon is-small is-left left-icon">
                      <no-ssr>
                        <ui-svg :name="idCardIcon"
                                width="24"
                                height="24"
                                :color="iconBlue"></ui-svg>
                      </no-ssr>
                </span>
          <span class="icon is-small is-right" v-show="completed === true">
            <no-ssr>
                       <ui-svg :name="successIcon"
                               width="18"
                               height="18"
                               color="#0CD173"></ui-svg>
            </no-ssr>
          </span>
          <span class="icon is-small is-right" v-if="searching === true">
         <self-building-square-spinner
             :animation-duration="4000"
             :size="20"
             color="#2864F0"
         />
          </span>
        </p>
      </div>
    </div>
  </section>
</template>

<script>


  // *** import axios base url and api route url f
  import axios from "~/plugins/axios"
  import apiRoutes from "~/plugins/apiroute"
  import SelfBuildingSquareSpinner from "../../node_modules/epic-spinners/src/components/lib/SelfBuildingSquareSpinner";

  export default {
    name: "CardId",
    components: {SelfBuildingSquareSpinner},
    data () {
      return {
        idTitle: "Entrez le numéro de votre carte d’identité",
        idSubtitle: "Assurez-vous de bien entrer le numero de votre pièce, il constitue votre identité unique chez nous",
        idCardIcon: "003-identity",
        successIcon: "015-sucess",
        cardId: "",
        iconBlue:"#000",
        completed: false,
        colored: false,
        error: false,
        searching: false,
        usedCardError: null
      }
    },
    methods: {
      changeBorder () {
        this.colored = true;
        this.iconBlue = "#2864F0"
      },
      isCompleted () {
        let cardI = this.cardId.toString();
        // *** control if user input is card code ***
        this.$validator.validate('userCardId').then((result) => {
          if (result) {
            //show spinner
            this.searching = true;
            console.log(this.searching);
            // *** check if card_id already exist in database
            axios.put(apiRoutes.ciExist, {
              'ci': cardI
            }).then((response) => {
               return response
            }).catch((error) => {
              if (error.response.status === 409)  {
                // *** card_id already exist
                this.searching = false;
                this.error = true;
                this.usedCardError = "La carte d'identité à déja été utilisée ";
              } else if (error.response.status === 404) {
                // *** card id didn't exist
                this.searching = false;
                // ¨no error
                this.error = false;
                //activate next button
                this.completed = true;
                this.buttonIsReady = true;
                this.userCard = cardI;
                this.$emit("buttonIsReady", this.buttonIsReady);
                // emit card id in index file
                this.$emit("emitCardId",this.userCard);
              } else if (error.response.status === 500) {
                this.searching = false;
                this.error = true;
                this.usedCardError = "La carte d'identité à déja été utilisée ";
              }
            })
          } else{
            this.error = true;
            this.completed = false;
            this.buttonIsReady = false;
            this.$emit("buttonIsReady", this.buttonIsReady)
          }
        })
      },
      onlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
          $event.preventDefault();
        }
      }
    },
    props: {
      buttonIsReady: {
        type: Boolean,
        default: false
      },
      userCard: {
        type: String,
        default: ""
      }
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .card-id {
    margin: auto;
    padding-left: 6%;
    width: 50%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .input-section {
    width: 87% ;
    margin-top: 5%;

    .login-input {
      font-family: $text-font;
      font-size: $text-small;
      border: none;
      box-shadow: none !important;
      border-bottom: $border-light solid $text-black;
      border-radius: 0;
    }
    .is-colored {
      border-bottom: $border-light solid $text-blue;
    }
  }
  .control.has-icons-left .icon.is-left[data-v-31e122a8] {
    padding-right: 10px;
  }
  .error-section {
    font-family: $text-font;
    margin-top: 2%;
  }
</style>
