<template>
  <section class="collaborate" @mousemove="activeNext">
    <div class="id-title-section has-text-left">
      <p class="id-title" v-html="famillyTitle"></p>
      <p class="id-subtiltle" v-html="famillySubtitle"></p>
    </div>
    <div class="counter-section has-text-left">
      <div class="buttons are-medium">
        <a class="button title-button has-text-left box tooltip is-tooltip-left"  data-tooltip="Tooltip Text" v-html="titleChild">All</a>
        <a class="button add-button" @click="decrementChild">-</a>
        <a class="button result-section">{{counterCollaborate}}</a>
        <a class="button add-button" @click="incrementChild">+</a>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Collaborate",
    data () {
      return {
        famillyTitle: "Ajouter des Collaborateurs",
        famillySubtitle: "Une fois connecté vous pourrez leur envoyer un lien pour s’inscrire et compléter leur profil",
        titleChild: "Collaborateurs",
        counterCollaborate: 0,
      }
    },
    props: {
      nextB: {
        type: Boolean,
        default: false
      },
      addCollaborate: {
        type: Number,
        default: 0
      },
    },
    methods: {
      incrementChild () {
        this.counterCollaborate++;
        this.addCollaborate = this.counterCollaborate;
        this.$emit("addCollaborate", this.addCollaborate)
      },
      decrementChild () {
        if (this.counterCollaborate === 0) {
          alert("Imposible de choisir un nombre inférieure à zéro")
        } else {
          this.counterCollaborate--;
          this.addCollaborate = this.counterCollaborate;
          this.$emit("addCollaborate", this.addCollaborate)
        }
      },
      activeNext () {
        this.nextB = true;
        this.$emit("activeNext", this.nextB)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .collaborate {
    margin: auto;
    padding-left: 6%;
    width: 100%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;
    margin: auto;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .counter-section {
    padding-top: 2%;
    width: 87%;
    margin: auto;

    .title-button {
      font-family: $text-font !important;
      font-weight: lighter !important;
      width: $button-width-two;
      font-size: 20px !important;
      cursor: initial;
      box-shadow: none !important;
      color: $text-black;
      opacity: .8;
    }
    .title-button:hover {
      border: 1px solid $text-grey!important;
    }
    .add-button {
      width: 50px;
      margin-left: 2.5%;
    }
    .result-section {
      border: none;
      width: 60px;
      font-family: $text-font !important;
      font-weight: bolder;
      font-size: 30px !important;
      cursor: initial;
    }
  }
</style>
