<template>
    <section class="confirm">
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="confirmTitle"></p>
        <p class="id-subtiltle" v-show="isEmail === false">{{"Nous avons envoyé un code au ********" + phonelastTwo + " Saisissez-le ici !"}}</p>
        <p class="id-subtiltle" v-show="isEmail === true">{{"Nous avons envoyer un code a " + sendEmail + " Saisissez-le ici !"}}</p>
      </div>
      <div class="columns columns-section">
        <div class="column is-9 input-column">
          <input class="input code-input" type="tel" maxlength="1"
            ref="first_number" @keyup="focusSecond" v-model="firstNumber"
            :class="{'is-bordered': firstNumber.length !== 0, 'is-error': error  === true}"
             @keypress="isNumberOnly" autofocus>
        </div>
        <div class="column is-9 input-column">
          <input class="input code-input" type="tel" maxlength="1"
          ref="second_number" @keyup="focusSecond" v-model="secondNumber"
                 :class="{'is-bordered': secondNumber.length !== 0, 'is-error': error  === true}" @keypress="isNumberOnly">
        </div>
        <div class="column is-9 input-column">
          <input class="input code-input" type="tel" maxlength="1"
          ref="third_number" @keyup="focusSecond" v-model="thirdNumber"
                 :class="{'is-bordered': thirdNumber.length !== 0, 'is-error': error  === true}" @keypress="isNumberOnly">
        </div>
        <div class="column is-9 input-column">
          <input class="input code-input" type="tel" maxlength="1"
           ref="fourth_number" @keyup="focusSecond" v-model="fourthNumber"
                 :class="{'is-bordered': fourthNumber.length !== 0, 'is-error': error  === true}" @keypress="isNumberOnly">
        </div>
        <div class="column is-9 input-column">
          <input class="input code-input" type="tel" maxlength="1"
          ref="fifth_number" @keyup="focusSecond" v-model="fifthNumber"
                 :class="{'is-bordered': fifthNumber.length !== 0, 'is-error': error  === true}" @keypress="isNumberOnly">
        </div>
        <div class="column is-9 input-column">
          <input class="input code-input" type="tel" maxlength="1"
          ref="sixth_number" @keyup="focusSecond" v-model="sixthNumber"
                 :class="{'is-bordered': sixthNumber.length !== 0, 'is-error': error  === true}" @keypress="isNumberOnly">
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "Confirm",
        data ()  {
          return {
            confirmTitle: "Code de confirmation",
            firstNumber: "",
            secondNumber: "",
            thirdNumber: "",
            fourthNumber: "",
            fifthNumber: "",
            sixthNumber: "",
          }
        },
       props: {
         isCodeOK:{
           type:Boolean,
           default: false
         },
         phonelastTwo: {
           type: String,
           default: ""
         },
         code: {
           type: String,
           default: ""
         },
         error: {
           type: Boolean,
           default: false
         },
         isEmail: {
           type: Boolean,
           default: false
         },
         sendEmail: {
           type: String,
           default: ""
         }
       },
       methods: {
          focusSecond () {
            if (this.firstNumber.length !== 0) {
              this.$refs.second_number.focus()
            }
            if (this.secondNumber.length !== 0) {
              this.$refs.third_number.focus()
            }
            if (this.thirdNumber.length !== 0) {
              this.$refs.fourth_number.focus()
            }
            if (this.fourthNumber.length !== 0) {
              this.$refs.fifth_number.focus()
            }
            if (this.fifthNumber.length !== 0) {
              this.$refs.sixth_number.focus()
            }
            if (this.firstNumber.length !== 0 && this.secondNumber.length !== 0 && this.thirdNumber.length !== 0 &&
              this.fourthNumber.length !== 0 && this.fifthNumber.length !== 0 && this.sixthNumber.length !== 0) {
               this.isCodeOK = true;
               this.code = this.firstNumber + this.secondNumber + this.thirdNumber + this.fourthNumber + this.fifthNumber + this.sixthNumber
               this.$emit("isCodeOk", this.isCodeOK);
               this.$emit("code", this.code)
            } else {
              this.error = false;
              this.isCodeOK = false;
              this.$emit("isCodeOk", this.isCodeOK)
            }
          },
         isNumberOnly ($event) {
           let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
           if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
             $event.preventDefault();
           }
         }
       },
        computed: {

        }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .confirm {
    margin: auto;
    padding-left: 7%;
    width: 50%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .columns-section {
    margin-top: 5%;
    width: 18%;
  }
  .input-column {
    margin: 4%;
    padding: 0;
  }
  .code-input {
    font-size: 34px;
    font-family: $text-font;
    padding-left: 35%;
    box-shadow: none !important;
    height: 60px;
    border-radius: $button-border;
  }
  .code-input:hover {
    border: 1px solid $text-blue;
  }
  .is-bordered {
    border: 1px solid $text-blue;
  }
  .is-error {
    border: 1px solid red;
  }
</style>
