<template>
    <section class="confirm-email">
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="confirmTitle"></p>
        <p class="id-subtiltle">{{confirmSubtitle}} <span><b>{{email}}</b></span> {{confirmSubtitleTwo}}</p>
      </div>
      <div class="no-send has-text-left">
        <h4 class="no-send-title" v-html="noSendTitle"></h4>
        <h4 class="no-send-subtitle">{{noSendSubtitle}} <i class="icon">
          <no-ssr>
            <ui-svg :name="resendIcon"
                     width="12"
                     height="12"
                     color=" #2864F0">
            </ui-svg>
          </no-ssr>
        </i> <span class="resend-button">Renvoyer le lien</span></h4>
      </div>
    </section>
</template>

<script>
    export default {
        name: "ConfirmEmail",
      data () {
          return {
            confirmTitle: "Confirmation",
            confirmSubtitle: "Nous avons envoyé un lien de confirmation au",
            confirmSubtitleTwo: "Veuillez consulter votre boite mail et cliquez sur le lien pour continuer votre inscription.",
            noSendTitle: "Vous n’avez pas reçu le mail ?",
            noSendSubtitle: "Vérifiez vos spams ou",
            email: "mail@gmail.com",
            resendIcon: "019-resend"
          }
      },
    }
</script>

<style scoped lang="scss">
  @import "../../assets/css/main.scss";
  .confirm-email {
    margin: auto;
    padding-left: 6%;
    width: 50%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .no-send {
    margin-top: 5%;

    .no-send-title {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .8;
    }
    .no-send-subtitle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .8;
    }
    .resend-button {
      font-size: $text-very-light;
      font-weight: normal;
      color: $text-blue;
      cursor: pointer;
    }
  }
</style>
