<template>
    <section class="devi">
     <div class="devi-title has-text-left">
       <span class="devi-label" v-html="deviLabel"></span>
       <span class="devi-type button is-right" v-html="deviType" :style="{backgroundColor: typeBackground}"></span>
     </div>
      <div class="devi-table">
        <div class="box devi-box">
          <div class="box-header has-text-left">
            <img src="../../assets/static/logo.png">
          </div>
          <div class="dot-divider"></div>
          <div class="personal-price-section has-text-left">
           <span class="perso-label" v-html="persoLabel"></span>
           <span class="perso-price">{{persoPrice}}</span>
          </div>
          <div class="personal-price-section has-text-left">
            <span class="perso-label">{{childLabel + " (" + childNumber + ")"}}</span>
            <span class="perso-price">{{childTotalPrice}}</span>
          </div>
          <div class="personal-price-section has-text-left">
            <span class="perso-label">{{adultLabel + " (" + adultNumber + ")"}}</span>
            <span class="perso-price">{{adultTotalPrice}}</span>
          </div>
          <div class="dot-divider"></div>
          <div class="total-price-section has-text-left">
            <span class="perso-label">{{totalLabel}}</span>
            <span class="perso-price">{{total}}</span>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
  // import kkiapay from plugins
  import kkiapay from "kkiapay"
  import key from  "../../plugins/kkiapay.js"
  import LogoForKkiaPay from  "../../assets/svg/arsen_floor.svg"
    export default {
        name: "Devis",
        data () {
          return {
            deviLabel: "Voici votre devis",
            persoLabel: "Vous Même (1)",
            childLabel: "Enfants",
            adultLabel: "Adultes",
            totalLabel: "Total",
            paymentLabel: "Procéder au paiement",
            kkiaPayLogo: LogoForKkiaPay
          }
        },
      props: {
        childNumber: {
          type: Number,
          default:0
        },
        adultNumber: {
          type: Number,
          default: 0
        },
        basePrice: {
          type: Number,
          default: 0
        },
        deviType: {
          type: String,
          default: "EXPRESS"
        },
        yearly: {
          type: Boolean,
          default: true
        }
      },
      computed: {
        typeBackground: function () {
          if (this.deviType === "EXPRESS") {
            return "#62B96A"
          }
          else if (this.deviType === "PRO") {
            return "#2864F0"
          }
          else  if (this.deviType === "PREMIUM") {
            return "#FFA800"
          }
        },
        persoPrice: function () {
          if (this.yearly === true) {
            return this.basePrice * 12
          } else if (this.yearly === false)
          {
            return this.basePrice * 6
          }
        },
        childTotalPrice: function () {
          if (this.yearly === true) {
            return ((this.basePrice / 2) * 12) * this.childNumber
          } else if (this.yearly === false)
          {
            return ((this.basePrice / 2) * 6) * this.childNumber
          }
        },
        adultTotalPrice: function () {
          if (this.yearly === true) {
            return (this.basePrice * 12) * this.adultNumber
          } else if (this.yearly === false)
          {
            return (this.basePrice  * 6) * this.adultNumber
          }
        },
        total: function () {
          let tt =  this.childTotalPrice + this.adultTotalPrice + this.persoPrice;
          this.$emit('tt', tt);
          return tt
        },
      },
      methods: {
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .devi {
    margin: auto;
    width: 100%;
    margin-left: 5% !important;
  }
.devi-title {
  margin: auto;
  width: 70%;

  .devi-label {
    font-family: $text-font;
    font-weight: bolder;
    font-size: $text-small;
  }
  .devi-type {
    cursor: text;
    float: right;
    width: $button-width;
    border-radius: $button-border;
    font-family: $text-font;
    color: $text-white;
    margin-top: -1.5%;
    border: none;
  }
}
.devi-table {
  width: 70%;
  padding-top: 4%;
  margin: auto;

  .devi-box {
   box-shadow: none;
   border: $border-light $text-grey solid;

    .dot-divider {
      height: 10px;
      border-bottom: $border-light $text-black dashed;
    }
    .personal-price-section {
      margin-top: 3%;
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: $text-very-light;

      .perso-price {
        float: right;
        text-align: right;
      }
    }
    .total-price-section {
      margin-top: 3%;
      font-family: $text-font;
      font-weight: bolder;
      color: $text-black;
      font-size: $text-very-light;

      .perso-price {
        float: right;
        text-align: right;
      }
    }
    .payment-button-section {
      padding-top: 3%;

      .payment-button {
        font-family: $text-font;
        color: $text-white;
        height: $payment-button-size;
        background-color: $text-blue;
        border-radius: $button-border;
        width: 50%;
      }
    }
  }
}
</style>
