<template>
  <section class="devi">
    <div class="devi-title has-text-left">
      <span class="devi-label" v-html="deviLabel"></span>
      <span class="devi-type button is-right" v-html="deviType" :style="{backgroundColor: typeBackground}"></span>
    </div>
    <div class="devi-table">
      <div class="box devi-box">
        <div class="box-header has-text-left">
          <img src="../../assets/static/logo.png">
        </div>
        <div class="dot-divider"></div>
        <div class="personal-price-section has-text-left">
          <span class="perso-label">{{childLabel + " (" + collaborateNumber + ")"}}</span>
          <span class="perso-price">{{collaborateTotalPrice}}</span>
        </div>
        <div class="dot-divider"></div>
        <div class="personal-price-section has-text-left">
          <span class="perso-label">{{adultLabel}}</span>
          <span class="perso-price">{{"-" + reductionTotalPrice}}</span>
        </div>
        <div class="dot-divider"></div>
        <div class="total-price-section has-text-left">
          <span class="perso-label">{{totalLabel}}</span>
          <span class="perso-price">{{total}}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "DevisEntreprise",
    data () {
      return {
        deviLabel: "Voici votre devis",
        childLabel: "Collaborateur",
        adultLabel: "Réduction",
        totalLabel: "Total",
        paymentLabel: "Procéder au paiement"
      }
    },
    props: {
      collaborateNumber: {
        type: Number,
        default:0
      },
      basePrice: {
        type: Number,
        default: 0
      },
      deviType: {
        type: String,
        default: "PREMIUM"
      },
      yearly: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      typeBackground: function () {
        if (this.deviType === "EXPRESS") {
          return "#62B96A"
        }
        else if (this.deviType === "PRO") {
          return "#2864F0"
        }
        else  if (this.deviType === "PREMIUM") {
          return "#FFA800"
        }
      },
      collaborateTotalPrice: function () {
        if (this.yearly === true) {
          return (this.basePrice * 12) * this.collaborateNumber
        } else if (this.yearly === false)
        {
          return (this.basePrice  * 6) * this.collaborateNumber
        }
      },
      reductionTotalPrice: function () {
        if (this.collaborateNumber > 10) {
          return  (this.collaborateTotalPrice * 5) / 100
        } else if (this.collaborateNumber > 50)
        {
          return (this.collaborateTotalPrice * 8) / 100
        } else {
          return 0
        }
      },
      total: function () {
        let tt =  this.collaborateTotalPrice - this.reductionTotalPrice;
        this.$emit('tt', tt);
        return tt
      }
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .devi {
    margin: auto;
    width: 100%;
    padding-left: 4%;
  }
  .devi-title {
    margin: auto;
    width: 70%;

    .devi-label {
      font-family: $text-font;
      font-weight: bolder;
      font-size: $text-small;
    }
    .devi-type {
      float: right;
      width: $button-width;
      border-radius: $button-border;
      font-family: $text-font;
      color: $text-white;
      margin-top: -1.5%;
      border: none;
      cursor: text;
    }
  }
  .devi-table {
    width: 70%;
    padding-top: 4%;
    margin: auto;

    .devi-box {
      box-shadow: none;
      border: $border-light $text-grey solid;

      .dot-divider {
        height: 10px;
        border-bottom: $border-light $text-black dashed;
      }
      .personal-price-section {
        margin-top: 3%;
        font-family: $text-font;
        font-weight: normal;
        color: $text-black;
        font-size: $text-very-light;

        .perso-price {
          float: right;
          text-align: right;
        }
      }
      .total-price-section {
        margin-top: 3%;
        font-family: $text-font;
        font-weight: bolder;
        color: $text-black;
        font-size: $text-very-light;

        .perso-price {
          float: right;
          text-align: right;
        }
      }
      .payment-button-section {
        padding-top: 5%;

        .payment-button {
          font-family: $text-font;
          color: $text-white;
          height: $button-size;
          background-color: $text-blue;
          border-radius: $button-border;
        }
      }
    }
  }
</style>
