<template>
  <section class="email-pro">
    <div class="id-title-section has-text-left">
      <p class="id-title" v-html="idTitle"></p>
      <p class="id-subtiltle" v-html="idSubtitle"></p>
    </div>
    <div class="input-section">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input  login-input"
                 placeholder="hello@monentreprise.com"
                 type="email"
                 @keyup="isCompleted" @focus="changeBorder"
                 :class="{'is-colored': colored === true}"
                 name="entrepriseEmail" v-validate="'required|email'"
                 v-model="entrepriseEmailAddress">
          <span class="error-section box has-text-centered" v-if="error === true">{{ errors.first('entrepriseEmail') }}</span>
          <span class="icon is-small is-left left-icon">
                      <no-ssr>
                        <ui-svg :name="entrepriseEmailIcon"
                                width="24"
                                height="24"
                                :color="iconBlue"></ui-svg>
                      </no-ssr>
                </span>
          <span class="icon is-small is-right" v-show="completed === true">
            <no-ssr>
                       <ui-svg :name="successIcon"
                               width="18"
                               height="18"
                               color="#0CD173"></ui-svg>
            </no-ssr>
          </span>
        </p>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "EmailPro",
    components: {
    },
    data () {
      return {
        idTitle: "Adresse mail Professionnelle",
        idSubtitle: "Nous vous enverons un lien magique de confirmation pour nous assurer que le mail vous appartient ",
        entrepriseEmailIcon: "004-email",
        successIcon: "015-sucess",
        iconBlue:"#000",
        completed: false,
        colored: false,
        error: false,
        entrepriseEmailAddress: ""
      }
    },
    methods: {
      changeBorder () {
        this.colored = true;
        this.iconBlue = "#2864F0"
      },
      isCompleted () {
        let mail = this.entrepriseEmailAddress;
        this.$validator.validate('entrepriseEmail').then((result) => {
          if (result) {
            this.error = false;
            this.completed = true;
            this.buttonIsReady = true;
            this.emitEntrepriseEmail = mail;
            this.$emit("getEntrepriseEmail", this.emitEntrepriseEmail);
            this.$emit("readyToNext", this.buttonIsReady);
          } else{
            this.error = true;
            this.completed = false;
            this.buttonIsReady = false;
            this.$emit("readyToNext", this.buttonIsReady)
          }
        })
      },
  },
    props: {
      buttonIsReady: {
        type: Boolean,
        default: false
      },
      emitEntrepriseEmail: {
        type: String,
        default: "aaaaaaaaaaaaaaa"
      }
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .email-pro {
    margin: auto;
    padding-left: 6%;
    width: 50%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .input-section {
    width: 87% ;
    margin-top: 5%;

    .login-input {
      font-family: $text-font;
      font-size: $text-small;
      border: none;
      box-shadow: none !important;
      border-bottom: $border-light solid $text-black;
      border-radius: 0;
    }
    .is-colored {
      border-bottom: $border-light solid $text-blue;
    }
  }
  .control.has-icons-left .icon.is-left[data-v-31e122a8] {
    padding-right: 10px;
  }
  .error-section {
    font-family: $text-font;
    margin-top: 2%;
  }
</style>
