<template>
  <section class="entreprise-infos">
    <div class="id-title-section has-text-left">
      <p class="id-title" v-html="PersonnalTitle"></p>
      <p class="id-subtiltle" v-html="PersonnalSubtitle"></p>
    </div>
    <div class="personal-section">
      <div class="field personal-input-section">
        <div class="control has-icons-left">
          <input class="input is-medium  is-input"
                 type="text" placeholder="Denomination" v-validate="'required'" name="entrepriseName"
                 @keyup="activeNextbutton" v-model="entrepriseDenomination"
                 :class="{'is-bordered': border===true}">
          <span class="icon is-small is-left">
                    <no-ssr>
                  <ui-svg :name="nameIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
        </div>
      </div>
      <div class="field personal-input-section">
        <p class="control select-gender has-icons-left">
    <span class="select is-medium select-gender ">
      <select class="select-gender" v-validate="'required'" name="legalForm"
              :class="{'is-bordered': border===true}" v-model="entrepriseForm">
           <option value="SARL">SARL</option>
           <option value="SAS">SAS</option>
           <option value="SA">SA</option>
           <option value="ONG">ONG</option>
           <option value="ASSOS">ASSOCIATION</option>
          <option value="FOND">FONDATION</option>
      </select>
    </span>
          <span class="icon is-small is-left">
                    <no-ssr>
                  <ui-svg :name="nameIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
        </p>
      </div>
      <div class="field personal-input-section">
        <div class="control has-icons-left">
          <input class="input is-medium  is-input"
                 type="text" placeholder="Identité Fiscale Unique (IFU)" v-validate="'required'"
                 name="fiscalIdentity"  @keyup="activeNextbutton" @keypress="onlyNumber" maxlength="16"
                 :class="{'is-bordered': border===true}" v-model="entrepriseIFU">
          <span class="icon is-small is-left">
                    <no-ssr>
                  <ui-svg :name="fiscalIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
        </div>
      </div>
      <div class="field personal-input-section">
        <div class="control has-icons-left">
          <input class="input is-medium  is-input"
                 type="text" placeholder="Siège Social" v-validate="'required'" name="entrepriseLocate"
                 @keyup="activeNextbutton" v-model="entrepriseResidence"
                 :class="{'is-bordered': border===true}">
          <span class="icon is-small is-left">
                    <no-ssr>
                  <ui-svg :name="locateIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
        </div>
      </div>
      <div class="field personal-input-section">
        <div class="control has-icons-left">
          <input class="input is-medium  is-input"
                 type="text" placeholder="Site Web"  name="entrepriseWebsite"  @keyup="activeNextbutton"
                 :class="{'is-bordered': border===true}" v-model="entrepriseWeb">
          <span class="icon is-small is-left">
                    <no-ssr>
                  <ui-svg :name="jobIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
        </div>
      </div>
      <div class="field personal-input-section">
        <div class="control has-icons-left">
          <input class="input is-medium  is-input"
                 type="tel" placeholder="Âge moyens des collaborateurs" v-validate="'required'"
                 maxlength="2" name="collaborateOld" v-model="collaborateMinOld"
                 :class="{'is-bordered': border===true}"
                 @keyup="activeNextbutton" @keypress="onlyNumber">
          <span class="icon is-small is-left">
              <no-ssr>
                <ui-svg :name="oldIcon"
                        width="18"
                        height="18"
                        :color="iconColor">
                </ui-svg>
              </no-ssr>
            </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios'
  export default {
    name: "EntrepriseInfos",
    data () {
      return {
        PersonnalTitle: "Informations personnelles",
        PersonnalSubtitle: "Complètez votre profile. Vous êtes presque",
        Cities: [],
        dateType: "text",
        jobIcon: "010-bag",
        locateIcon: "009-locate",
        fiscalIcon: "008-callendar",
        nameIcon: "016-home",
        oldIcon: "017-old",
        userJob: "",
        iconColor: "#OOO",
        border: false

      }
    },
    props: {
      readyToNext: {
        type: Boolean,
        default: false
      },
      // denomination de l'entreprise
      entrepriseDenomination: {
        type: String,
        default: ""
      },
      //entreprise IFU
      entrepriseIFU: {
        type: String,
        default: ""
      },
      // Entreprise social siège
      entrepriseResidence: {
        type: String,
        default: ""
      },
      // Site web de l'entreprise
      entrepriseWeb: {
        type: String,
        default: ""
      },
      // Min collaborate old
      collaborateMinOld: {
        type: String,
        default: ""
      },
      // Entreprise legal form
      entrepriseForm: {
        type: String,
        default: "SARL"
      }
    },
    mounted() {
      let vm = this;
      axios.get(' https://bj-decoupage-territorial.herokuapp.com/api/v1/towns/')
        .then((response) => {
          console.log(response.data);
          vm.Cities = response.data.towns;
        })
        .catch((error) => {
          console.log(error)
        });
    },
    methods: {
      changeType () {
        this.dateType = "date"
      },
      activeNextbutton () {
        this.$validator.validate('*').then((response) => {
          if (response) {
            this.border = true;
            this.iconColor = "#2864F0";
            this.readyToNext = true;
            this.$emit("readyToNext", this.readyToNext);
            this.$emit("getDenomination", this.entrepriseDenomination);
            this.$emit("getForm", this.entrepriseForm);
            this.$emit("getIFU", this.entrepriseIFU);
            this.$emit("getWeb", this.entrepriseWeb);
            this.$emit("getSocial", this.entrepriseResidence);
            this.$emit("getCollaborate", this.collaborateMinOld)
          }  else {
            this.border = false;
            this.iconColor = "#000";
            this.readyToNext = false;
            this.$emit("readyToNext", this.readyToNext);
          }
        })
      },
      onlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
          $event.preventDefault();
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .entreprise-infos  {
    margin: auto;
    padding-left: 6%;
    width: 50%;
  }
  .id-title-section {
    width: 76%;
    font-family: $text-font;
    color: $text-black;
    margin: auto;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .select-gender {
    font-family: $text-font;
    font-size: $text-small;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: $border-light solid $text-grey !important;
    margin-right: 2% !important;
    margin-left: 1% !important;
  }
  .select-city{
    font-family: $text-font;
    font-size: $text-small;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: $border-light solid $text-grey !important;
    margin-right: 2% !important;
    width: 600px !important;
  }
  .is-input  {
    font-family: $text-font;
    font-size: $text-small;
    border: none;
    box-shadow: none !important;
    border-bottom: $border-small solid $text-grey !important;
    border-radius: 0;
    letter-spacing: 2px;
  }
  .personal-section {
    margin-top: 1%;
  }
  .personal-input-section {
    margin: auto;
    width: 78%;
  }
  .is-bordered {
    border-bottom: 1px solid $text-blue !important;
  }
  .control.has-icons-left .input.is-medium ~ .icon[data-v-c963383e], .control.has-icons-left .select.is-medium ~ .icon[data-v-c963383e], .control.has-icons-right .input.is-medium ~ .icon[data-v-c963383e], .control.has-icons-right .select.is-medium ~ .icon[data-v-c963383e] {
    padding-right: 12px;
  }
  .select-gender {
    font-family: $text-font;
    font-size: $text-small;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: $border-light solid $text-grey !important;
    margin-right: 2% !important;
    margin-left: 1% !important;
    width: 100% !important;
  }
</style>
