<template>
    <section class="familly" @mousemove="activeNext">
      <div class="notification-section">
        <Notifications :error-message="errorMessage" v-if="haveError === true"></Notifications>
      </div>
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="famillyTitle"></p>
        <p class="id-subtiltle" v-html="famillySubtitle"></p>
      </div>
      <div class="counter-section has-text-left">
        <div class="buttons are-medium">
          <a class="button title-button has-text-left box tooltip is-tooltip-left"  :data-tooltip="childTooltip" v-html="titleChild">All</a>
          <a class="button add-button" @click="decrementChild">-</a>
          <a class="button result-section">{{counterChild}}</a>
          <a class="button add-button" @click="incrementChild">+</a>
        </div>
        <div class="buttons are-medium">
          <a class="button title-button has-text-left box tooltip is-tooltip-left" v-html="titleAdult"  :data-tooltip="adultTooltip">All</a>
          <a class="button add-button" @click="decrementAdult">-</a>
          <a class="button result-section">{{counterAdult}}</a>
          <a class="button add-button" @click="incrementAdult">+</a>

        </div>
      </div>
    </section>
</template>

<script>
    import Notifications from "../Notifications";
    export default {
        name: "Familly",
      components: {Notifications},
      data () {
          return {
            famillyTitle: "Ajouter de la famille",
            famillySubtitle: "Une fois connecté vous pourrez leur envoyer un lien pour s’inscrire et compléter leur profil",
            titleChild: "Enfants",
            titleAdult: "Adultes",
            counterChild: 0,
            counterAdult: 0,
            errorMessage: "",
            haveError: false,
            childTooltip: "De 0 à 18 ans. Moitié tarif",
            adultTooltip: "De 19 à  90 ans"
          }
        },
      props: {
        nextB: {
          type: Boolean,
          default: false
        },
        addChild: {
          type: Number,
          default: 0
        },
        addAdult: {
          type: Number,
          default: 0
        }
      },
       methods: {
         incrementChild () {
           this.haveError = false;
           this.counterChild++;
           this.addChild = this.counterChild;
           this.$emit("addChild", this.addChild)
         },
         decrementChild () {
           if (this.counterChild === 0) {
             this.errorMessage = "Imposible de choisir un nombre inférieure à zéro";
             this.haveError = true

           } else {
             this.haveError = false;
             this.counterChild--;
             this.addChild = this.counterChild;
             this.$emit("addChild", this.addChild)
           }
         },
         incrementAdult () {
           this.haveError = false;
           this.counterAdult++;
           this.addAdult = this.counterAdult;
           this.$emit("addAdult", this.counterAdult)
         },
         decrementAdult () {
           if (this.counterAdult === 0) {
              this.errorMessage = "Imposible de choisir un nombre inférieure à zéro";
             this.haveError = true

           } else {
             this.haveError = false;
             this.counterAdult--;
             this.addAdult = this.counterAdult;
             this.$emit("addAdult", this.counterAdult)
           }
         },
         activeNext () {
           this.nextB = true;
           this.$emit("activeNext", this.nextB)
         }
       }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .notification-section {
    padding-left: 6.5%;
    margin-bottom: 2%;
  }
  .familly {
    margin: auto;
    width: 90%;
    padding-left: 10%;
  }
  .id-title-section {
    width: 100%;
    padding-left: 6.5%;
    font-family: $text-font;
    color: $text-black;
    margin: auto;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .counter-section {
    padding-top: 2%;
    width: 87%;
    margin: auto;

    .title-button {
      font-family: $text-font !important;
      font-weight: lighter !important;
      width: $button-width-two;
      font-size: 20px !important;
      cursor: initial;
      box-shadow: none !important;
      color: $text-black;
      opacity: .8;
    }
    .title-button:hover {
      border: 1px solid $text-grey!important;
    }
    .add-button {
      width: 50px;
      margin-left: 2.5%;
    }
    .result-section {
      border: none;
      width: 60px;
      font-family: $text-font !important;
      font-weight: bolder;
      font-size: 30px !important;
      cursor: initial;
    }
  }
</style>
