<template>
    <section class="password">
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="passwordTitle"></p>
        <p class="id-subtiltle" v-html="passwordSubtitle"></p>
      </div>
      <div class="input-section">
        <div class="field password-input-section">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-medium password-input is-input"  v-model="userPassword"
                   :type="passwordfieldType" placeholder="Mot de passe" autofocus @focus="changeBorder"
                   name="password" v-validate="'required|min:6|max:35'" ref="password">
            <span class="icon is-small is-left">
                 <no-ssr>
              <ui-svg :name="passwordIcon"
                      width="24"
                      height="24"
                      :color="firstPasswordColor"></ui-svg>
             </no-ssr>
            </span>
            <span class="icon is-small is-right show-button" @click.prevent="showPassword"
                  v-if="successIconShow === false && userPassword.length !== 0">
             <no-ssr>
              <ui-svg :name="eyeIcon"
                      width="24"
                      height="24"
                      color="#000">
              </ui-svg>
             </no-ssr>
            </span>

            <span class="icon is-small is-right show-button" v-if="successIconShow === true">
             <no-ssr>
              <ui-svg :name="iconSuccess"
                      width="24"
                      height="24"
              ></ui-svg>
             </no-ssr>
            </span>
          </div>
          <div class="control has-icons-left has-icons-right password-confirm-section">
            <input class="input is-medium password-confirm-input  is-input"  :type="passwordfieldType"
                   placeholder="Confirmer mot de passe" @focus="changeColorTwo"
                   name="password_confirmation" v-validate="'required|confirmed:password'" data-vv-as="password"
                   @keyup="isMatched">
            <span class="icon is-small is-left">
                 <no-ssr>
                  <ui-svg :name="passwordIcontwo"
                          width="24"
                          height="24"
                          :color="secondColor"></ui-svg>
                 </no-ssr>
               </span>
            <span class="icon is-small is-right" v-if="successIconShow === true">
            <no-ssr>
              <ui-svg :name="iconSuccess"
                      width="24"
                      height="24"
              ></ui-svg>
            </no-ssr>
          </span>
          </div>
        </div>
      </div>
      <span class="error-section box" v-if="error === true">
         {{ errors.first('password') }} <br/>
         {{ errors.first('password_confirmation') }}
      </span>
    </section>
</template>

<script>
    export default {
        name: "Password",
       data () {
          return {
            passwordTitle: "Mot de passe",
            passwordSubtitle: "Créez votre mot de passe de connexion.",
            userPassword: "",
            passwordfieldType: 'password',
            icon: "004-email",
            eyeIcon: "006-eye",
            passwordIcon: "005-password",
            passwordIcontwo: "005-password",
            firstPasswordColor: "#000",
            secondColor: "#OOO",
            iconSuccess: "015-sucess",
            successIconShow: false,
            error: false
          }
       },
      props: {
        isConfirmed: {
          type: Boolean,
          default: false
        },
        pass: {
          type: String,
          default: ""
        }
      },
      methods: {
          showPassword () {
            if (this.passwordfieldType === "password")  {
              this.passwordfieldType = "text"
            } else  {
              this.passwordfieldType = "password"
            }
          },
        changeBorder () {
            this.firstPasswordColor = "#2864F0"
        },
        changeColorTwo () {
            this.secondColor = "#2864F0"
        },
        isMatched () {
            this.$validator.validate('password_confirmation').then((result) => {
              if (result){
                this.isConfirmed = true;
                this.error = false;
                this.successIconShow = true;
                this.pass = this.userPassword;
                this.$emit("getPassword", this.pass);
                this.$emit("isConfirmed", this.isConfirmed)
              } else {
                  this.isConfirmed = false;
                  this.error = true;
                  this.successIconShow = false;
                  this.$emit("isConfirmed", this.isConfirmed)
              }
            })
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .password {
    margin: auto;
    padding-left: 6%;
    width: 50%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
 .input-section {
   margin-top: 5%;
   width: 87%;
 }
 .is-input  {
   font-family: $text-font;
   font-size: $text-small;
   border: none;
   box-shadow: none !important;
   border-bottom: $border-small solid $text-grey;
   border-radius: 0;
   letter-spacing: 2px;
 }
  .show-button {
    pointer-events: initial !important;
    cursor: pointer !important;

  }
  .password-confirm-section {
    margin-top: 5%;
  }
  .error-section {
    font-family: $text-font;
    margin-top: 2%;
    width: 87%;
  }
  .control.has-icons-left .input.is-medium ~ .icon[data-v-66f35a88], .control.has-icons-left .select.is-medium ~ .icon[data-v-66f35a88], .control.has-icons-right .input.is-medium ~ .icon[data-v-66f35a88], .control.has-icons-right .select.is-medium ~ .icon[data-v-66f35a88]{
    padding-right: 15px;
  }
</style>
