<template>
    <section class="payment">
      <Success :show-success="showSuc"
               :success-label="sucLab"
               :golink="golin"></Success>
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="paymentTitle"></p>
        <p class="id-subtiltle" v-html="paymentSubtitle"></p>
      </div>
      <div class="payment-methods-select has-text-left">
        <div class="field payment-select">
          <input class="is-checkradio" id="exampleRtlRadioInline1" type="radio" name="exampleRtlRadioInline" value="mobile"
                 v-model="checkedPayment">
          <label for="exampleRtlRadioInline1" v-html="mobileLabel"></label>
          <input class="is-checkradio" id="exampleRtlRadioInline2" type="radio" name="exampleRtlRadioInline" value="card"
                 v-model="checkedPayment">
          <label for="exampleRtlRadioInline2" v-html="creditCardLabel"></label>
        </div>
        <notifications :error-message="errorMess" v-if="showErr"></notifications>
        <div class="mobile-payment-input" v-show="checkedPayment === 'mobile'">
          <div class="field has-addons has-addons-centered is-medium payment-input" :class="{'border-blue': border === true}">
            <p class="control is-fullwidth">
                <span class="select is-medium is-fullwidth no-border">
                   <select>
                     <option>+229</option>
                   </select>
                </span>
            </p>
            <p class="control is-fullwidth">
              <input class="input is-medium is-fullwidth input-width no-border border-right"
                     type="tel" placeholder="62 92 20 92" maxlength="8" @focus="foc" v-model="paymentNumber">
            </p>
        </div>
        </div>
        <div class="card-payment-input" v-show="checkedPayment === 'card'">
          <h3 class="comming-soon">Comming Soon</h3>
          <div class="field card-numbers-section" style="display: none">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-medium card-numbers-input" type="tel" placeholder="2222 2222" maxlength="19"
                   @focus="isFocus = true" :class="{'is-focus': isFocus === true}">
            <span class="icon is-small is-left">
               <i style="margin-top: 4px"><img src="../../assets/svg/012-credit-card.svg"/></i>
            </span>
            <span class="icon is-small is-right">
              <i><img src="../../assets/svg/014-visa.svg"></i>
              <i style="margin-right: 2px"><img src="../../assets/svg/013-mastercard.svg"></i>
           </span>
          </div>
        </div>
          <div class="field is-horizontal code-date-section">
            <div class="field-body">
              <div class="field">
                <p class="control ">
                  <input class="input is-medium  date-code-input" type="tel" placeholder="../.."
                  maxlength="5" @focus="isFocus = true" :class="{'is-focus': isFocus === true}">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input class="input  is-medium date-code-input" type="tel" placeholder="000" maxlength="3"
                         @focus="foc" :class="{'is-focus': isFocus === true}">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="payment-button-section has-text-right" v-if="checkedPayment === 'mobile'">
        <a class="button payment-button" @click="payMe">{{paymentLambel + " " + montant}}</a>
      </div>
      <div class="payment-modal">
      </div>
    </section>
</template>

<script>
  import axios from "../../plugins/axios"
  import apiRoutes from "../../plugins/apiroute"
  import Kkiapay from 'kkiapay'
  import key from '../../plugins/kkiapay'
  import Notifications from "../Notifications";
  import Success from "./Success";
    export default {
        name: "Payment",
      components: {Success, Notifications},
      data ()  {
          return {
            creditCardLabel: "Carte de paiement",
            mobileLabel: "Mobile money",
            paymentTitle: "Payement",
            paymentSubtitle: "Choisissez un moyen de paiement pour finaliser votre souscription. Le paiement est sécurisé, n’ayez crainte",
            checkedPayment: "mobile",
            border: false,
            isFocus: false,
            paymentLambel: "Payer",
            paymentNumber: '',
            errorMess: "",
            showErr: false,
            showSuc: false,
            sucLab: 'Abonement Réussi connecter Vous',
            golin: '/users/signin'
          }
        },
      props: {
          montant: {
            type: Number,
            default: 0
          },
          plan: {
            type: String,
            default: ''
          },
          duration: {
            type: Number,
            default: 0
          },
         datePriseEffet: {
            type: String,
            default: ''
         },
        dateCreation: {
            type: String,
            default: ''
        },
        nbrAdulte: {
            type: Number,
            default: 0
        },
        nbrMineur: {
            type: Number,
            default: 0
        },
        userId: {
            type: String,
            default: ''
        }
      },
      methods: {
          foc () {
            this.border = true;
            this.isFocus = true;
            this.showErr = false
          },
        payMe () {
          if (this.paymentNumber !== '') {
            this.showErr = false;
            let number = '229' + this.paymentNumber;
            const pay = Kkiapay(key.publicKey);
           pay.debit(number, this.montant.toString()).then((res) => {
              if (res) {
                 axios.post(apiRoutes.newSubscription, {
                   "plan": this.plan.toString().toUpperCase(),
                   "duration": this.duration,
                   "datePriseEffet": this.datePriseEffet.toString(),
                   "dateCreation": this.dateCreation.toString(),
                   "nbrAdulte": this.nbrAdulte,
                   "nbrMineur": this.nbrMineur,
                   "isPaid": "true",
                   "userId": this.userId.toString()
                 }).then((res) => {
                   if (res) {
                     this.$store.commit('loggedUsers/setContracts', res.data);
                     console.log(this.$store.state.loggedUsers.userContracts);
                     this.$router.push("/users/dashboard");
                   }
                 }).catch((err) => {
                    console.log(err)
                 })
              }
            }).catch((e)=> {
              if (e.failureCode === "processing_error")  {
               this.errorMess = "Echec Montant insuffisant sur le compte ou Validation en attente. Réessayer";
               this.showErr = true
              } else if (e.failureCode === "insufficent_fund") {
                this.errorMess = "Montant insuffisant sur le compte. Recharger votre compte et,  Réessayer";
                this.showErr = true
              }
            })
          } else {
            this.errorMess = "Entrez votre numéro de Téléphone";
            this.showErr = true
          }
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .id-title-section {
    width: 67%;
    font-family: $text-font;
    color: $text-black;
    margin: auto;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .payment-methods-select{
    margin-top: 2%;
  }
  .payment-select {
  }
  .is-checkradio[type=checkbox]+label, .is-checkradio[type=radio]+label  {
    font-family: $text-font !important;
    font-weight: normal;
    color: $text-black;
    font-size: $text-small !important;
  }
  .is-checkradio[type=radio]+label::after, .is-checkradio[type=radio]+label:after {
    background-color: $text-blue;
  }
  .is-checkradio[type=checkbox]:hover:not([disabled])+label::before, .is-checkradio[type=checkbox]:hover:not([disabled])+label:before, .is-checkradio[type=radio]:hover:not([disabled])+label::before, .is-checkradio[type=radio]:hover:not([disabled])+label:before{
    border-color: $text-blue !important;
  }
  .is-checkradio[type=checkbox]:checked+label::before, .is-checkradio[type=checkbox]:checked+label:before, .is-checkradio[type=radio]:checked+label::before, .is-checkradio[type=radio]:checked+label:before{
    border: .1rem solid $text-blue;
  }
  .mobile-payment-input {
    width: 67%;
    margin: auto;

    .border-blue {
      border-bottom: 1px solid $text-blue !important;
    }
    .payment-input {
      margin-top: 2%;
      border-bottom: 1px solid $text-grey;
      padding: 2%;

      .input-width {
        font-family: $text-font;
        width: 360px !important;
      }

      .no-border {
        border: none;
        box-shadow: none !important;
      }
      .border-right {
        border-left: 1px solid $text-grey;
      }
    }
  }
  .field.has-addons .control:first-child:not(:only-child) .button[data-v-1d3dc175], .field.has-addons .control:first-child:not(:only-child) .input[data-v-1d3dc175], .field.has-addons .control:first-child:not(:only-child) .select select[data-v-1d3dc175] {
    border: none;
  }
  .card-numbers-section {
    width: 70%;
    margin: auto;
    padding-top: 2%;
    display: none;
  }
  .card-numbers-input {
    border: none;
    border-bottom: 1px solid $text-grey;
    box-shadow: none;
    font-family: $text-font;
    font-size: $text-very-light;
    border-radius: 0 !important;
  }
  .code-date-section {
    display: none;
    width: 70%;
    margin: auto;
    padding-top: 2%;
  }
  .date-code-input {
    display: none;
    border: none;
    border-bottom: 1px solid $text-grey;
    box-shadow: none;
    font-family: $text-font;
    font-size: $text-very-light;
    border-radius: 0 !important;
  }
  .is-focus {
    box-shadow: none !important;
    border-bottom: 1px solid $text-blue;
  }
  .payment-select {
    padding-top: 1%;
    width: 70%;
    margin: auto;
  }
  .payment-button-section {
    padding-top: 2%;
    width: 70%;
    margin: auto;
  }
 .payment-button {
   font-family: $text-font;
   font-weight: normal;
   color: $text-white;
   background-color: $text-blue;
   height: $button-size;
   border-radius: $button-border;
   width: $button-width;
 }
  .payment-button:hover {
    color: $text-white;
  }
  .comming-soon {
     text-align: center;
    font-size: 25px;
  }
</style>
