<template>
    <section class="personal">
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="PersonnalTitle"></p>
        <p class="id-subtiltle" v-html="PersonnalSubtitle"></p>
      </div>
      <div class="personal-section">
        <div class="field has-addons has-addons-centered is-expanded is-medium">
          <p class="control select-gender ">
    <span class="select is-medium select-gender ">
      <select class="select-gender" v-validate="'required'" name="userGender"
              :class="{'is-bordered': border===true}" v-model="sexe">
           <option selected="selected" value="M">Mr</option>
           <option value="F">Mlle</option>
      </select>
    </span>
          </p>
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-medium  is-input"
                     type="text" placeholder="Prenom" autofocus v-validate="'required'" name="userSurname"
                     :class="{'is-bordered': border===true}"
                     @keyup="activeNextbutton" v-model="prenoms">
              <span class="icon is-small is-left" >
                    <no-ssr>
                  <ui-svg :name="nameIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                    </no-ssr>
            </span>
            </div>
          </div>
        </div>
        <div class="field personal-input-section">
          <div class="control has-icons-left">
            <input class="input is-medium  is-input"
                   type="text" placeholder="Nom" v-validate="'required'" name="userName"  @keyup="activeNextbutton"
                   :class="{'is-bordered': border===true}" v-model="nom">
            <span class="icon is-small is-left">
                    <no-ssr>
                  <ui-svg :name="nameIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
          </div>
        </div>
        <div class="field personal-input-section">
          <div class="control has-icons-left">
            <input class="input is-medium is-input"
                   :type="dateType" placeholder="Date de Naissance"
                   @focus="changeType" v-validate="'required'" name="userDate" @keyup="activeNextbutton"
                   :class="{'is-bordered': border===true}" v-model="dateN">
              <span class="icon is-small is-left">
                <no-ssr>
                  <ui-svg :name="dateIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
            </span>
          </div>
        </div>
        <div class="field personal-input-section">
          <div class="field">
            <div class="control has-icons-left">
              <div class="select is-medium">
                <select class="select-city" v-validate="'required'" name="userSelect"
                        :class="{'is-bordered': border===true}" v-model="residence">
                  <option value="R" class="placeholder-color">Lieu de Résidence</option>
                  <option v-for="(item, index) in Cities" :key="item + index"
                   :value="item.name">
                   {{item.name}}
                 </option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <no-ssr>
                  <ui-svg :name="cityIcon"
                          width="18"
                          height="18"
                          :color="iconColor">
                  </ui-svg>
                </no-ssr>
              </div>
            </div>
          </div>
        </div>
        <div class="field personal-input-section">
          <div class="control has-icons-left">
            <input class="input is-medium  is-input"
                   type="text" placeholder="Profession" v-validate="'required'" name="userJob" v-model="userJob"
                   :class="{'is-bordered': border===true}"
                    @keyup="activeNextbutton">
            <span class="icon is-small is-left">
              <no-ssr>
                <ui-svg :name="jobIcon"
                        width="18"
                        height="18"
                        :color="iconColor">
                </ui-svg>
              </no-ssr>
            </span>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "Personal",
      data () {
          return {
            PersonnalTitle: "Informations personnelles",
            PersonnalSubtitle: "Complètez votre profile. Vous êtes presque",
            Cities: [],
            dateType: "text",
            jobIcon: "010-bag",
            cityIcon: "009-locate",
            dateIcon: "008-callendar",
            nameIcon: "007-user",
            userJob: "",
            iconColor: "#OOO",
            border: false
          }
      },
      props: {
        readyToNext: {
          type: Boolean,
          default: false
        },
        sexe: {
          type: String,
          default: "M"
        },
        prenoms: {
          type: String,
          default: ""
        },
        nom: {
          type: String,
          default: ""
        },
        dateN: {
          type: String,
          default: ""
        },
        residence: {
          type: String,
          default: "R"
        },
        job: {
          type: String,
          default: ""
        },

      },
      mounted() {
          let vm = this;
          axios.get('https://bj-decoupage-territorial.herokuapp.com/api/v1/towns/')
            .then((response) => {
              vm.Cities = response.data.towns.sort(function (a,b) {
                if( a.name > b.name){
                  return 1;
                } else if (a.name < b.name) {
                  return -1
                } else {
                  return 0
                }
              });
            })
            .catch((error) => {
              console.log(error)
            });
      },
      methods: {
        changeType () {
          this.dateType = "date"
        },
    activeNextbutton () {
            this.$validator.validate('*').then((response) => {
              if (response) {
                this.border = true;
                this.iconColor = "#2864F0";
                this.readyToNext = true;
                this.job = this.userJob;
                this.$emit("name", this.nom);
                this.$emit("surname", this.prenoms);
                this.$emit("sexe", this.sexe);
                this.$emit("residence", this.residence);
                this.$emit("date", this.dateN);
                this.$emit("job", this.job);
                this.$emit("readyToNext", this.readyToNext)
              }  else {
                this.border = false;
                this.iconColor = "#000";
                this.readyToNext = false;
                this.$emit("readyToNext", this.readyToNext);
              }
            })
           }
      }
    }
</script>

<style lang="scss" scoped>
@import "../../assets/css/main.scss";
.personal  {
  margin: auto;
  padding-left: 6%;
  width: 50%;
}
.id-title-section {
  width: 76%;
  font-family: $text-font;
  color: $text-black;
  margin: auto;

  .id-title {
    font-size: $text-small;
    font-weight: normal;
  }
  .id-subtiltle {
    font-size: $text-very-light;
    font-weight: normal;
    opacity: .6;
  }
}
.select-gender {
  font-family: $text-font;
  font-size: $text-small;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom: $border-light solid $text-grey !important;
  margin-right: 2% !important;
  margin-left: 1% !important;
}
.select-city{
  font-family: $text-font;
  font-size: $text-small;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom: $border-light solid $text-grey !important;
  margin-right: 2% !important;
  width: 600px !important;
}
.is-input  {
  font-family: $text-font;
  font-size: $text-small;
  border: none;
  box-shadow: none !important;
  border-bottom: $border-small solid $text-grey !important;
  border-radius: 0;
  letter-spacing: 2px;
}
 .personal-section {
   margin-top: 1%;
 }
 .personal-input-section {
   margin: auto;
   width: 78%;
 }
 .is-bordered {
   border-bottom: 1px solid $text-blue !important;
 }
.control.has-icons-left .input.is-medium ~ .icon[data-v-c963383e], .control.has-icons-left .select.is-medium ~ .icon[data-v-c963383e], .control.has-icons-right .input.is-medium ~ .icon[data-v-c963383e], .control.has-icons-right .select.is-medium ~ .icon[data-v-c963383e] {
  padding-right: 12px;
}

</style>
