<template>
  <section class="phone-email">
    <div class="id-title-section has-text-left">
      <p class="id-title" v-html="idTitle"></p>
      <p class="id-subtiltle" v-html="idSubtitle"></p>
    </div>
    <div class="checkbox-section has-text-left">
      <div class="field checkbox-field">
        <input class="is-checkradio  is-info" id="user-email-checkbox" type="radio"
                v-model="picked" value="email">
        <label for="user-email-checkbox" class="checkbox-label" v-html="emailLabel"></label>

        <input class="is-checkradio is-info" id="user-phone-checkbox" type="radio"
               v-model="picked" value="phone">
        <label for="user-phone-checkbox" class="checkbox-label" v-html="phoneLabel"></label>
      </div>
    </div>
   <div class="email-section" v-show=" picked === 'email' ">
     <div class="field">
       <p class="control has-icons-left has-icons-right">
         <input class="input  login-input"
                type="email"
                placeholder="al@gmail.com"
                name="userEmail"
                :class="{'is-colored': colored === true}" @focus="changeColor"
                v-validate="'required|email'"
                @keyup="isCompleted"
               v-model="inputEmail">
         <span class="error-section box" v-if="showError === true">{{ errors.first('userEmail') }}</span>
         <span class="icon is-small is-left">
           <no-ssr>
                   <ui-svg :name="emailIcon"
                           width="24"
                           height="24"
                           :color="iconBlue"></ui-svg>
           </no-ssr>
         </span>

         <span class="icon is-small is-right" v-show="completed === true">
           <no-ssr>
                   <ui-svg :name="successIcon"
                           width="24"
                           height="24"
                           ></ui-svg>
           </no-ssr>
         </span>
       </p>
     </div>
   </div>
    <div class="phone-section" v-show="picked === 'phone' ">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input  login-input" type="tel" maxlength="8" placeholder="62922091"
            name="userPhone"  v-validate="'required|numeric|length:8'" @keyup="isCompleted"
            @keypress="isOnlyNumber" v-model="phone">
          <span class="icon is-small is-left">
           <no-ssr>
                   <ui-svg :name="phoneIcon"
                           width="24"
                           height="24"
                          ></ui-svg>
           </no-ssr>
         </span>
          <span class="icon is-small is-right" v-show="completed === true">
           <no-ssr>
                   <ui-svg :name="successIcon"
                           width="24"
                           height="24"
                   ></ui-svg>
           </no-ssr>
         </span>
          <span class="error-section box" v-if="showError === true">{{ errors.first('userPhone') }}</span>
        </p>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "PhoneEmail",
    data () {
      return {
        idTitle: "Adresse mail ou Téléphone",
        idSubtitle: "Nous vous enverrons un lien magique par mail ou un code de confirmation pour nous assurer que c’est bien vous.",
        emailLabel: "Email",
        phoneLabel: "Tél",
        emailIcon: "004-email",
        iconBlue: "#000",
        colored: false,
        picked: "email",
        completed: false,
        showError: false,
        successIcon: "015-sucess",
        phoneIcon: "018-benin",
        phone: "",
        inputEmail: ""
      }
    },
    props: {
      readyToContinue: {
        type: Boolean,
        default: false
      },
      choiceType: {
        type:Number,
        default: -1
      },
      phoneNumber: {
        type: String,
        default: ""
      },
      emailAddress: {
        type: String,
        default: ""
      },
    },
    methods: {
      changeColor ()  {
        this.colored = true;
        this.iconBlue = "#2864F0"
      },
      isCompleted () {
        if (this.picked === "email") {
          this.$validator.validate('userEmail').then((result) => {
            if (result) {
              this.completed = true;
              this.showError = false;
              this.readyToContinue = true;
              this.choiceType = 1;
              this.emailAddress = this.inputEmail;
              // emit email adress in index components
              this.$emit("getEmailAddress", this.emailAddress);
              this.$emit("choiceType", this.choiceType);
              this.$emit("readyToContinue", this.readyToContinue)
            } else {
              this.showError = true;
              this.completed = false;
              this.readyToContinue = false;
              this.$emit("readyToContinue", this.readyToContinue)
            }
          })
        }
        else if (this.picked === "phone") {
         this.$validator.validate('userPhone').then((result) => {
           if (result) {
             this.completed = true;
             this.showError = false;
             this.readyToContinue = true;
             this.choiceType = 2;
             this.phoneNumber = this.phone;
             this.$emit("choiceType", this.choiceType);
             this.$emit("readyToContinue", this.readyToContinue);
             this.$emit("getPhoneNumber", this.phoneNumber)
           } else  {
             this.showError = true;
             this.completed = false;
             this.readyToContinue = false;
             this.$emit("readyToContinue", this.readyToContinue)
           }
         })
        }
       },
      isOnlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
          $event.preventDefault();
        }
      }
    },
    components: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .phone-email {
    margin: auto;
    padding-left: 6%;
    width: 50%;
  }
  .id-title-section {
    width: 87%;
    font-family: $text-font;
    color: $text-black;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .checkbox-field {
    margin-top: 4%;
    margin-left: -2%;

  }
  .email-section {
    width: 87% ;
    margin-top: 5%;
  }
  .login-input {
    font-family: $text-font;
    font-size: $text-small;
    border: none;
    box-shadow: none !important;
    border-bottom: $border-light solid $text-black;
    border-radius: 0;
    letter-spacing: 2px;
  }
  .left-icon {
    margin-top: 24%;
    margin-left: -2%;
  }
  .is-colored {
    border-bottom: $border-light solid $text-blue;
  }
  .phone-section  {
    margin-top: 5%;
    width: 87% ;
  }
  .error-section {
    font-family: $text-font;
    margin-top: 2%;
  }
  .is-checkradio[type=checkbox]+label, .is-checkradio[type=radio]+label  {
    font-family: $text-font !important;
    font-weight: normal;
    color: $text-black;
    font-size: $text-small !important;
    margin-top: -10px;
  }
  .is-checkradio[type=radio]+label::after, .is-checkradio[type=radio]+label:after {
    background-color: $text-blue;
  }
  .is-checkradio[type=checkbox]:hover:not([disabled])+label::before, .is-checkradio[type=checkbox]:hover:not([disabled])+label:before, .is-checkradio[type=radio]:hover:not([disabled])+label::before, .is-checkradio[type=radio]:hover:not([disabled])+label:before{
    border-color: $text-blue !important;
  }
  .is-checkradio[type=checkbox]:checked+label::before, .is-checkradio[type=checkbox]:checked+label:before, .is-checkradio[type=radio]:checked+label::before, .is-checkradio[type=radio]:checked+label:before{
    border: .1rem solid $text-blue;
  }
</style>
