<template>
  <section class="status">
    <div class="title-section  has-text-left">
      <span class="status-title" v-html="statutTitle"></span>
    </div>
    <div class="status-choice-section">
      <div class="columns has-text-centered">
        <div class="column is-5 choice-column"  @click="changeIndex(index)" v-for="(item,index) in Status" :key="item + index"
             :class="{'is-selected': position === index}">
          <div class="icon-section">
            <no-ssr v-if="position !== index"><ui-svg :name="item.icon"
                            width="72"
                            height="72"
                            class="icon-color"
            ></ui-svg></no-ssr>
            <no-ssr v-if="position === index"><ui-svg :name="item.icon"
                            width="72"
                            height="72"
                            color="#2864F0"
            ></ui-svg></no-ssr>
          </div>
          <h3 class="choice-title" v-html="item.title"></h3>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  // *** Import icon ***
  import Independant from "../../assets/static/independant.png"
  import Entreprise from "../../assets/static/entreprise.png"
  export default {
    name: "Status",
    data () {
      return {
        statutTitle: "Type de compte",
        position: -1,
        Status: [
          {
            title: "Indépendant",
            icon:  "002-independant",
          },
          {
            title: "Entreprise",
            icon:  "001-entreprise",

          }
        ]
      }
    },
    methods: {
      changeIndex(index) {
        this.position = index;
        this.isOk = true;
        this.status = index;
        this.$emit("selected", this.isOk);
        this.$emit("status", this.status)
      }
    },
    computed: {
    },
    props: {
      isOk: {
        type: Boolean,
        default: false
      },
      status: {
       type: Number,
       default: -1
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .status {
    margin: auto;
    width: 50%;
    padding-left: 6%;
  }
  .title-section {
    margin-bottom: 10%;
  }
  .status-title {
    padding-bottom: 100px !important;
    font-family: $text-font;
    font-size: $text-light;
    color: $text-black;
    font-weight: normal;
  }
  .choice-column {
    margin: 2%;
    padding: 2%;
    padding-top: 5% !important;
    cursor: pointer;
    border: 2px solid $border-color;
    border-radius: 10px;

    .choice-title {
      font-family: 'Poppins', sans-serif;
      font-weight: normal;
      font-size: $text-small;
      color: $text-black;
      padding-top: 3%;
      padding-bottom: 6%;
    }
  }
  .is-selected {
    border: 2px solid $text-blue;
    border-radius: 10px;
  }
</style>
