<template>
    <section class="subscription" @mousemove="cursorMove">
      <div class="id-title-section has-text-left">
        <p class="id-title" v-html="subscriptionTitle"></p>
        <p class="id-subtiltle" v-html="subscriptionSubtitle"></p>
      </div>
      <div class="formule-header has-text-left">
        <p class="id-title" v-html="formule"></p>
      </div>
      <div class="formule-header has-text-right">
        <div class="field formule-header-field">
          <label for="switchRoundedInfo" class="selected-label">Semestriel</label>
          <input id="switchRoundedInfo"  type="checkbox" name="switchRoundedInfo" class="switch is-rounded selected"
                 v-model="checked" @change="changePrice">
          <label for="switchRoundedInfo" class="selected-label">Annuel</label>
        </div>
      </div>
      <div class="select-plan-section">
       <div class="columns">
         <div class="column is-4 selected-box box" v-for="(item, index) in Plans" :key="item+index" @click="changePosition(index)"
         :class="{'is-select-border': index === position}">
           <div class="selected-icon has-text-right"
           :class="{'is-selected': index === position}"><span class="icon is-small"><i><img class="icon-select" src="../../assets/svg/011-selected.svg"></i></span> </div>
           <div class="text-section has-text-centered">
             <h3 class="plan-title">ARSEN <span class="plan-type" v-html="item.type"
             :style="{color: item.color}"></span></h3>
             <h3 class="plan-amount">{{item.amount}} <span class="devise">F/mois</span></h3>
           </div>
           <div class="dropdown-divider select-box-divider"></div>
           <div class="percent-section has-text-centered">
             <h3 class="percent-title" :style="{color: item.color}">Couvert à <span class="percent" v-html="item.percent" ></span> </h3>
           </div>
         </div>
       </div>
      </div>
      <div class="start-date-section">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium is-input" type="date" v-model="startDate">
          <span class="icon is-medium is-left">
             <no-ssr>
               <ui-svg
               :name="dateIcon"
               height="24"
               width="24"
               color="#000">
               </ui-svg>
             </no-ssr>
          </span>
        </div>
      </div>
      <span style="display: none">{{price}}</span>
    </section>
</template>

<script>
    export default {
        name: "Subscription",
        data () {
          return {
            position: 0,
            subscriptionTitle: "Choisir une assurance",
            subscriptionSubtitle: "Choisissez le plan qui vous convient le mieux.",
            formule: "Formule",
            checked: true,
            dateIcon: "008-callendar",
            startDate: new Date().toISOString().slice(0,10),
            Plans: [
              {
                type:"Express",
                amount: 5400,
                color: "#62B96A",
                percent: "60%"
              },
              {
                type:"Pro",
                amount: 6600,
                color: "#2864F0",
                percent: "80%"
              },
              {
                type:"Premium",
                amount: 9200,
                color: "#FFA800",
                percent: "96%"
              }
            ]
          }
        },
      props: {
          goNext: {
            type: Boolean,
            default: false
          }
      },
      methods: {
        changePosition (index) {
          this.position = index
        },
        changePrice () {
          console.log(this.checked);
          if (this.checked === false) {
            this.Plans[0].amount = 5900;
            this.Plans[1].amount = 7200;
            this.Plans[2].amount = 9999;
          } else if(this.checked === true) {
            this.Plans[0].amount = 5400;
            this.Plans[1].amount = 6600;
            this.Plans[2].amount = 9200;
          }
        },
        cursorMove () {
          this.goNext = true;
          this.$emit("cursorDep", this.goNext)
        }
      },
      computed: {
          price: function () {
            this.$emit("semAn", this.checked);
            this.$emit("subscriptionAmount", this.Plans[this.position].amount);
            this.$emit("subscriptionType", this.Plans[this.position].type);
            this.$emit("startDate", this.startDate);
            return this.Plans[this.position].amount;
          }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .subscription {
    width: 100%;
    margin: auto;
  }
  .id-title-section {
    width: 70%;
    font-family: $text-font;
    color: $text-black;
    margin: auto;

    .id-title {
      font-size: $text-small;
      font-weight: normal;
    }
    .id-subtiltle {
      font-size: $text-very-light;
      font-weight: normal;
      opacity: .6;
    }
  }
  .formule-header {
    width: 70%;
    padding-top: 2%;
    margin: auto;
    padding-bottom: 1%;

    .formule-header-field {
      margin-right: -12%;
    }

    .id-title {
      font-family: $text-font;
      color: $text-black;
      font-size: $text-small;
      font-weight: normal;
    }
  }
  .select-plan-section {
    width: 70%;
    margin: auto;
    padding-top: 2%;

    .selected-box {
      cursor: pointer;
      margin: 2%;
      padding: 0;
      box-shadow: none;
      border: 1px solid $text-grey;

      .selected-icon {
        height: 20px !important;
        padding-right: 4%;
        padding-top: 2%;

        .icon-select {
          display: none;
        }
      }
      .is-selected {
        .icon-select {
          display: block;
        }
      }
      .text-section {
        padding: 0;
      }
      .plan-title {
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: bolder;
        color: $text-black;
        text-transform: uppercase;
        padding: 2%;
      }
      .plan-amount {
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: bolder;
        color: $text-black;

        .devise {
          font-size: 13px;
          font-weight: lighter;
          color: $text-black;
          opacity: .6;
        }
      }
     .select-box-divider {
       background-color: $text-grey;
       margin: 4%;
     }
     .percent-title {
       font-family: $text-font;
       font-size: 15px;
       font-weight: bolder;
       color: $text-black;
       padding: 2%;
       padding-bottom: 3% !important;
     }
    }
  }
  .is-select-border {
    border: 1px solid $text-blue !important;
  }
  .selected-label {
    font-family: $text-font;
    font-weight: normal;
    color: $text-black;
  }
  .switch[type=checkbox]:checked+label::before, .switch[type=checkbox]:checked+label:before {
    background-color: $text-blue;
  }
  .start-date-section {
    margin-top: 5% !important;
    width: 85%;
    margin: auto;
    padding-left: 7%;
  }
  .is-input  {
    font-family: $text-font;
    font-size: $text-small;
    border: none;
    box-shadow: none !important;
    border-bottom: $border-small solid $text-grey !important;
    border-radius: 0;
    letter-spacing: 2px;
  }

</style>
