<template>
    <section class="success-modal">
      <div class="modal has-text-centered" :class="{'is-active': showSuccess === true}">
        <div class="modal-background"></div>
        <div class="modal-content">
        <div class="card has-text-centered success-card">
          <no-ssr>
            <ui-svg :name="successIcon"
                     height="60"
                     width="60">

            </ui-svg>
          </no-ssr>
          <h3 class="has-text-centered success-text" v-html="successLabel"></h3>
          <nuxt-link :to="golink" class="button success-button" v-html="connectLabel"></nuxt-link>
        </div>
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "Success",
       data () {
          return {
          }
       },
      props: {
          successIcon: {
            type: String,
            default: "043-checked"
          },
        successLabel: {
            type: String,
            default: "Compte créé avec Succèss. Connecter vous pour souscrire à votre assurance"
        },
        connectLabel: {
            type: String,
            default: "Se Connecter"
        },
        golink: {
            type: String,
           default: ""
        },
        showSuccess: {
            type: Boolean,
            default: true
        }
      }
    }
</script>

<style scoped lang="scss">
  @import "../../assets/css/main.scss";
  .success-modal {
    .success-card {
      width: 50%;
      margin: auto;
      padding: 4%;
      border-radius: $button-border;
    }
    .success-text {
      margin-top: 2%;
      font-family: $text-font;
      font-size: $text-info;
      color: $text-black;
      opacity: .8;
    }
    .success-button {
      margin-top: 4%;
      font-family: $text-font;
      font-size: $text-info;
      background-color: $text-blue;
      border-radius: $button-border;
      color: $text-white;
      width: 80%;
      height: $button-size;
    }
  }
</style>
