<template>
    <section class="entreprise-subscription">
     <div class="entreprise-subscription-block has-text-center">
       <Subscription v-show="step === 1" @cursorDep="isReadyNext"  @subscriptionType = "subscriptionType"
                     @semAn="planDuration" @subscriptionAmount="subscriptionAmount" @startDate="startDate"></Subscription>
       <Collaborate v-show="step === 2" @addCollaborate="addCollaborate" @activeNext="isReadyNext"></Collaborate>
       <DevisEntreprise v-show="step === 3" :collaborate-number="subscription.nbrAdulte" :base-price="this.baseAmount"
       :devi-type="this.subscription.plan.toUpperCase()" :yearly="yearly" @tt="total"></DevisEntreprise>
       <payment v-show="step === 4"
                :montant="totalAmount"
                :plan="this.subscription.plan"
                :date-prise-effet="this.subscription.datePriseEffet"
                :date-creation="this.subscription.dateCreation"
                :nbr-adulte="this.subscription.nbrAdulte"
                :nbr-mineur="this.subscription.nbrMineur"
                :duration="this.subscription.duration"
                :user-id="this.subscription.userId"></payment>
       <div class="next-button-section has-text-right" v-show="step !== 4">
         <a  class="button next-button" :class="{'is-ready': isActive === true}" @click="nextStep">{{goNext}}</a>
       </div>
     </div>
    </section>
</template>

<script>
    import Subscription from "../../../../components/users_connexion_components/Subscription";
    import Collaborate from "../../../../components/users_connexion_components/Collaborate";
    import DevisEntreprise from "../../../../components/users_connexion_components/DevisEntreprise";
    import Payment from "../../../../components/users_connexion_components/Payment";
    export default {
        name: "index",
      components: {Payment, DevisEntreprise, Collaborate, Subscription},
      data () {
          return {
            step: 1,
            goNext: "Continuer",
            isActive: false,
            baseAmount: 0,
            subscription: {
              plan: "",
              duration: 0,
              datePriseEffet: "",
              dateCreation:  new Date().toISOString().slice(0,10).toString(),
              nbrAdulte: 0,
              nbrMineur: 0,
              userId: this.$store.state.loggedUsers.userInfo.userId
            },
            totalAmount: 0
          }
      },
      methods: {
        nextStep () {
          if (this.isActive === true) {
            this.step++;
          }
        },
        isReadyNext (answer) {
          this.isActive = answer
        },
        planDuration (answer) {
          if (answer === true) {
            this.subscription.duration = 6;
          } else if (answer === false) {
            this.subscription.duration= 12;
          }
        },
        subscriptionAmount (answer) {
          this.baseAmount = answer;
        },
        subscriptionType (answer) {
          this.subscription.plan = answer
        },
        startDate (answer) {
          this.subscription.datePriseEffet = answer;
        },
        addCollaborate (answer) {
          this.subscription.nbrAdulte = answer
        },
        total (answer) {
          this.totalAmount = answer;
          console.log(this.totalAmount)
        }
      },
      computed: {
        yearly: function () {
          if (this.subscription.duration === "6") {
            return false
          } else if (this.subscription.duration === "12") {
            return true
          }
        },
        mounted: {
        }
      }
    }
</script>

<style lang="scss" scoped>
@import "../../../../assets/css/main.scss";
  .entreprise-subscription {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    .entreprise-subscription-block {
      margin: auto;
      width: 70%;
      margin-top: 50vh !important;
      transform: translateY(-50%);
    }
    .next-button {
      margin-top: 2%;
      width: 20%;
      margin-right: 10%;
      font-family: $text-font;
      height: $button-size;
      font-size: $text-info;
      background-color: $text-grey;
      color: $text-white;
    }
    .is-ready {
      background-color: $text-blue;
      color: $text-white;

    }
  }

</style>
