<template>
  <section class="sign-index">
    <div class="columns content-columns">
      <div class="column container is-half form-section">
        <div class="header-section">
          <no-ssr>
            <ui-svg :name="arsenLogo"
                    height="34"
                    width="82">
            </ui-svg>
          </no-ssr>
        </div>
        <div class="connexion">
          <h3 class="title-header" v-html="titleHeader"></h3>
          <h4 class="subheader-content" v-html="subheader"></h4>
          <div class="input-section">
            <Notifications :error-message="errorMessage" class="error-shower" v-if="displayErrors === true"></Notifications>
            <div class="field">
              <div class="control">
                <input class="input is-medium connexion-input" type="text" placeholder="Email ou Téléphone" v-model="betaIdentifiant"
                       @focus="displayErrors = false">
              </div>
            </div>
            <div class="connexion-button-section">
              <a class="button connexion-button" @click="loginUser">
                 <span class="icon load-icon" v-if="showLoginLoader === true">
                   <self-building-square-spinner
                     :animation-duration="3000"
                     :size="20"
                     color="#FFF"/>
                        </span>
                être notifié </a>
            </div>
            <div class="new-account-section">
              <nuxt-link class="new-account-link" to="/users/signin">Déja Inscrit ? Se Connecter</nuxt-link>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half logo-column has-text-right">
        <no-ssr>
          <ui-svg :name="floorIcon"
                  height="800"
          >
          </ui-svg>
        </no-ssr>
      </div>
      <div class="modal" :class="{'is-active': successSave === true}">
        <div class="modal-background"></div>
        <div class="modal-content">
         <div class="card success-card has-text-centered">
           <div class="success-icon">
             <ui-svg :name="successIcon"
                     height="80"
                     width="80">
             </ui-svg>
           </div>
           <div class="success-text">
             <p>Merci pour votre inscription nous vons enverons un message ou un mail</p>
           </div>
           <div class="landing-button">
             <a href="http://www.helloarsen.com" class="button go-landing">Landing Page</a>
           </div>
         </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import Notifications from "../../../components/Notifications";
  import { mapState } from 'vuex'

  import {fireDb} from '../../../plugins/firebase.js'
  import SelfBuildingSquareSpinner from "../../../node_modules/epic-spinners/src/components/lib/SelfBuildingSquareSpinner";
  export default {
    name: "index",
    components: {SelfBuildingSquareSpinner, Notifications},
    data() {
      return {
        successIcon: "029-smiley",
        floorIcon: "filigrane",
        arsenLogo: "arsen",
        titleHeader: "Inscription",
        errorMessage: null,
        displayErrors: false,
        betaIdentifiant: "",
        showLoginLoader: false,
        successSave: false,
        subheader: "Bonjour / Bonsoir ! Bienvenue sur le site de Arsen Assurance. Malheureusement nous sommes en bêta privée et avons suspendu les inscriptions pour l’instant. Veuillez renseigner votre mail ou téléphone afin d’être notifié lors de notre lancement officiel."
      }
    },
    methods: {
      controlInput() {
        this.showLoginLoader = true;
        if (this.loginIdentifiant === "") {
          this.displayErrors = true;
          this.showLoginLoader = false;
          this.errorMessage = "Veillez entrez votre numéro de téléphone ou votre email";
          return false
        } else if (this.loginPassword === "") {
          this.displayErrors = true;
          this.errorMessage = "Veillez entrez votre mot de passe svp";
          this.showLoginLoader = false;
          return false
        } else if (this.loginIdentifiant === "" && this.loginPassword === "") {
          this.displayErrors = true;
          this.showLoginLoader = false;
          this.errorMessage = "Veuillez renseigner votre mot de passe et votre identifiant";
          return false
        } else {
          return true
        }
      },
      async loginUser() {
        if (this.controlInput() === true) {
          this.showLoginLoader = true;
          await this.writeUserData(this.betaIdentifiant);
          this.showLoginLoader = false;
          this.successSave = true
        }
      },
      writeUserData (input) {
       fireDb.ref('/beta').push({
         identifiant: input
       })
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../assets/css/main.scss";
  .sign-index {
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    .content-columns{
      height: 100% !important;
      overflow-x: hidden !important;
      overflow-y: hidden !important;
      .logo-column {
        padding-left: 10%;
        background-color: $text-blue;
      }

      .form-section {
        padding-top: 6%;
        padding-left: 10%;
        padding-right: 6%;
      }
      .connexion {
        margin-top: 17%;

        .title-header {
          font-family: $text-font;
          font-size: $button-size;
          color: $text-black;
          font-weight: bolder;
        }
        .input-section {
          margin-top: 2%;
          width: 90%;

          .error-shower {
            margin-bottom: 2%;
          }
          .connexion-input {
            box-shadow: none;
            border: none;
            font-family: $text-font;
            border-bottom: 1px  solid $text-grey;
            border-radius: 0 !important;
            font-size: $text-very-light;
          }
        }
        .connexion-button-section {
          margin-top: 4%;

          .connexion-button {
            font-family: $text-font;
            color: $text-white;
            font-weight: bolder;
            background-color: $text-blue;
            width: $button-width-two;
            height: $button-size;
            text-transform: uppercase;

            .load-icon {
              display: inline-block;
              margin-right: 2%;
            }
          }

        }
        .new-account-section {
          margin-top: 2%;
          font-family: $text-font;
          padding-left: 1.5%;

          .new-account-link {
            font-family: $text-font;
            text-transform: uppercase;
            text-decoration: none;
            color: $text-black;
            font-size: .7rem;
            font-weight: bolder;
          }
        }
      }
    }
  }
  .subheader-content {
    font-family: $text-font;
    font-weight: lighter;
    color: $text-black;
    opacity: .7;
    font-size: $text-small-two;
  }
  .success-card {
    width: 70%;
    border-radius: $button-border;
    padding: 5%;
    margin-left: 15%;

    .success-text {
      margin-top: 2%;
      font-family: $text-font;
      font-weight: lighter;
      color: $text-black;
      opacity: .9;
      font-size: $text-small-two;
    }
    .go-landing {
      font-family: $text-font;
      color: $text-white;
      font-weight: bolder;
      background-color: $text-blue;
      width: $button-width-two;
      height: $button-size;
      text-transform: uppercase;
      margin-top: 5%;
    }
  }
</style>
