<template>
    <section class="notification-error">
    <div class="notification is-danger error-message">
      {{errorMessage}}
    </div>
    </section>
</template>

<script>
    export default {
        name: "Notifications",
        props: {
          errorMessage: String
        }
    }
</script>

<style lang="scss" scoped>
 @import "../assets/css/main.scss";

  .error-message {
    font-family: $text-font;
    font-weight: normal;
    color: $text-white;
    font-size: $text-very-light;
  }
</style>
