@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma';

// *** Custom font ***
$text-font: 'Poppins', sans-serif;

// *** Custom Color ***
$text-blue: #2864F0;
$text-black: #000000;
$text-white: #FFFFFF;
$text-grey: #E5E5E5;
$text-green: #0CD173;
$border-color: #F5F5F5;
$text-red: #ED3F32;
$text-premium:#FFA800;
$background-dashboard: rgba(80, 80, 80, 0.8);
$text-black-grey: #ADADAD;

// *** Custom size ***
$text-light: 1.5rem;
$text-small: 1.2rem;
$text-small-two: 1.1rem;
$text-very-light: 1rem;
$text-info: .9rem;
$text-info-small: .7rem;
$button-size: 40px;
$input-size: 50px;
$button-width: 160px;
$button-width-two: 200px;
$payment-button-size: 45px;

// *** Custom border radius ***
$button-border: 5px;

// *** Custom border size ***
$border-small: 0.005rem;
$border-light: 0.05rem
