<template>
    <section class="social-share">
      <div class="verify-assur-section has-text-centered">
        <p class="verify" v-html="verifyLabel">
        </p>
      </div>
      <div class="couvert-section">
        <div class="columns is-mobile couvert-block">
          <div class="couvert-icon is-2 column has-text-right">
            <no-ssr>
             <ui-svg :name="couvertIcon"
                     height="30"
                     width="30">

             </ui-svg>
            </no-ssr>
          </div>
          <div class="couvert-label has-text-centered is-6 column">
            <p v-html="couvertLabel"></p>
          </div>
          <div class="couvert-button has-text-right column">
            <a class="button validity-button">{{validityButtonLabel}}</a>
          </div>
        </div>
      </div>
      <div class="progress-section">
        <div class="premium-progress is-mobile columns" v-if="subscriptionPlan === 'premium'">
          <div class="progress-bar-color is-10 column" v-html="couvertLevel"></div>
          <div class="column  progress-bar-label has-text-right" v-html="couvertPremium"></div>
        </div>
        <div class="pro-progress is-mobile columns" v-if="subscriptionPlan === 'pro'">
          <div class="progress-bar-color is-8 column" v-html="couvertLevel"></div>
          <div class="column progress-bar-label has-text-right" v-html="couvertPro"></div>
        </div>
        <div class="standard-progress is-mobile columns" v-if="subscriptionPlan === 'standart'">
          <div class="progress-bar-color is-6 column" v-html="couvertLevel"></div>
          <div class="column  progress-bar-label has-text-right" v-html="couvertStd"></div>
        </div>
      </div>
      <div class="account-details-section">
        <div class="account-details columns is-mobile is-fullwidth">
          <div class="column is-2 icon-section">
           <no-ssr>
             <ui-svg :name="userIcon"
                     width="30"
                     height="30">

             </ui-svg>
           </no-ssr>
          </div>
          <div class="column user-name-section">
            <h3 class="title-label" v-html="userLabel"></h3>
            <h3 class="content-label" v-html="userName"></h3>
          </div>
        </div>
        <div class="account-details columns is-mobile is-fullwidth">
          <div class="column is-2 icon-section">
            <no-ssr>
              <ui-svg :name="userIcon"
                      width="30"
                      height="30">

              </ui-svg>
            </no-ssr>
          </div>
          <div class="column user-name-section">
            <h3 class="title-label" v-html="identifiantLabel"></h3>
            <h3 class="content-label" v-html="userIdentifiant"></h3>
          </div>
        </div>
        <div class="account-details columns is-mobile is-fullwidth">
          <div class="column is-2 icon-section">
            <no-ssr>
              <ui-svg :name="userIcon"
                      width="30"
                      height="30">

              </ui-svg>
            </no-ssr>
          </div>
          <div class="column user-name-section">
            <h3 class="title-label" v-html="validityLabel"></h3>
            <h3 class="content-label"><span>{{startDate}}</span> au <span>{{endDate}}</span></h3>
          </div>
        </div>
      </div>
      <div class="success">
        <Success></Success>
      </div>
    </section>
</template>

<script>
    import Success from "../../../components/users_connexion_components/Success";
    export default {
        name: "index",
      components: {Success},
      data ()  {
          return {
            verifyLabel: "Vérification Arsen Assurance",
            couvertLabel: "Couverture Santé",
            couvertLevel: "Niveau de couverture",
            couvertPremium: "96%",
            couvertPro: "80%",
            couvertStd: "60%",
            userIcon: "041-user",
            userLabel: "CLIENT",
            identifiantLabel: "IDENTIFIANT",
            validityLabel: "PERIODE DE VALIDITÉ"
          }
        },
       computed: {
         validityButtonLabel: function () {
           return "Valide"
         },
         couvertIcon: function () {
           return "040-verify"
         },
         subscriptionPlan: function () {
          return "premium"
         },
         userName: function () {
           return "Moudilou Ali"
         },
         userIdentifiant: function () {
           return "323232131233"
         },
         startDate: function () {
           return "21/12/12"
         },
         endDate: function () {
           return "23/12/12"
         }
       }
    }
</script>

<style lang="scss" scoped>
  @import "../../../assets/css/main.scss";
 .social-share {
   margin: 0;
   padding: 0;
   .verify-assur-section {
     padding: 2%;
     .verify {
       font-family: $text-font;
       font-weight: lighter;
       color: $text-black;
       font-size: $text-info;
       text-transform: uppercase;
     }
   }
   .couvert-section {
     margin-top: 2%;
     .couvert-block {
       padding: 1%;
       background-color: $text-blue;

       .couvert-icon{
         background-color: $text-grey;
         border-radius: 50%;
         margin: 2%;
         height: 55px;
         width: 55px;
         margin-left: 4% !important;
       }
       .couvert-label {
         font-family: $text-font;
         font-weight: lighter;
         font-size: $text-small;
         color: $text-white;
         margin-top: 2%;
       }
       .couvert-button {

         .validity-button {
           font-family: $text-font;
           font-weight: lighter;
           font-size: $text-info;
           color: $text-white;
           border: none;
           margin-top: 8%;
           border-radius: $button-border;
           background-color: rgba(30, 50, 100, 0.1);;
         }
       }
     }
   }
   .progress-section {
     margin-top: 5%;
     padding: 10%;
     .premium-progress {
       border-radius: $button-border;
       background-color: $text-grey;
       font-family: $text-font;
       color: $text-white;
       font-size: $text-info-small;
       line-height: 10%;
       .progress-bar-color {
         background-color: $text-premium;
         border-radius: $button-border;
       }
       .progress-bar-label {
         color: $text-black;
       }
     }
     .pro-progress {
       border-radius: $button-border;
       background-color: $text-grey;
       font-family: $text-font;
       color: $text-white;
       font-size: $text-info-small;
       line-height: 10%;
       .progress-bar-color {
         background-color: $text-blue;
         border-radius: $button-border;
       }
       .progress-bar-label {
         color: $text-black;
       }
     }
     .standard-progress {
       border-radius: $button-border;
       background-color: $text-grey;
       font-family: $text-font;
       color: $text-white;
       font-size: $text-info-small;
       line-height: 10%;
       .progress-bar-color {
         background-color: $text-green;
         border-radius: $button-border;
       }
       .progress-bar-label {
         color: $text-black;
       }
     }
   }
   .account-details-section {
     margin-top: 2%;
     .account-details {
       padding-left: 6.5% !important;

       .icon-section {
         border-radius: $button-border;
         background-color: $text-grey;
         height: 55px;
         width: 55px;
         margin-top: 3%;

       }
       .user-name-section {

         .title-label {
           font-family: $text-font;
           font-weight: lighter;
           font-size: $text-small;
           color: $text-grey
         }
         .content-label {
           font-family: $text-font;
           font-weight: lighter;
           font-size: $text-small;
           color: $text-black;
         }
       }
     }
   }
 }
</style>
