<template>
  <section class="container">
  </section>
</template>

<script>
  export default {
   data () {
     return {

     }
   },
    mounted() {
      this.$router.push("/users/signin")
    },
    created() {
        this.$router.push("/users/signin")
    }
  }
</script>

<style lang="scss" scoped>

</style>

