<template>
    <section class="acceuil-dashboard">
      <div class="columns">
        <div class="column is-two-thirds card-column">
          <div class="columns">
            <div class="column arsen-card is-two-fifths">
              <div class="columns">
                <div class="column logo-section">
                  <no-ssr>
                    <ui-svg :name="arsenFloor"
                             width="36"
                             height="18"
                            color="#FFF">

                    </ui-svg>
                  </no-ssr>
                  <no-ssr>
                    <ui-svg :name="arsenLabel"
                            width="36"
                            height="18"
                            color="#FFF">

                    </ui-svg>
                  </no-ssr>
                </div>
                <div class="column">
                  <a class="button is-rounded subscription-type"
                     :class="{'express': subscriptionType.toString().toLowerCase() ==='express',
                     'pro': subscriptionType.toString().toLowerCase() ==='pro',
                     'premium': subscriptionType.toString().toLowerCase() ==='premium' }">{{subscriptionType}}</a>
                </div>
              </div>
              <div class="columns">
                <div class="column has-margin">
                  <span class="card-type">Carte</span>
                  <span class="card-type">D'assurance</span>
                </div>
                <div class="column logo-section">
                  <no-ssr>
                    <ui-svg :name="arsenFloorShadow"></ui-svg>
                  </no-ssr>
                </div>
              </div>
            </div>
            <div class="column arsen-account-details">
             <div class="columns">
               <div class="column is-four-fifths">
                 <span class="details-title" v-html="cardNumberLabel"></span><br>
                 <span class="details-infos">{{contratId}}</span>
               </div>
               <div class="column has-text-right">
                 <span class="tooltip" data-tooltip="Partager ma carte...">
                 <no-ssr>
                   <ui-svg :name="shareIcon"></ui-svg>
                 </no-ssr>
                 </span>
               </div>
             </div>
              <div class="columns  ">
                <div class="column is-four-fifths">
                  <span class="details-title" v-html="cardDurationLabel"></span><br>
                  <span class="details-infos has-margin"><span class="logic-connector">Du</span> {{startDate}} <span class="logic-connector">au</span> {{endDate}}</span>
                </div>
                <div class="column"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="column beneficiary-column has-text-centered">
          <span class="title-section">
            <no-ssr>
              <ui-svg :name="benificiaryIcon"
                       height="24"
                       width="24"
                       color="#2864F0">
              </ui-svg>
            </no-ssr>
          <span class="title-label">{{beficiaryTitle}}</span>
          </span><br>
          <span class="beneficiary-number">{{beneficiaryNumber}}</span>
        </div>
      </div>
      <div class="refund-section">
        <div class="columns">
          <div class="column has-text-left is-three-quarters">
            <span class="refund-title">{{refundTitle}}</span>
          </div>
          <div class="column refund-sort-select has-text-right">
            <div class="select">
              <select class="refund-state-select" v-model="sortRefunds">
                <option value="all">Tout affiché</option>
                <option value="validate">Validé</option>
                <option value="rejected">Rejeté</option>
                <option value="waiting">En attente</option>
              </select>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="columns" v-for="(item, index) in refunds" :key="item + index" v-if="sortRefunds === 'all'">
          <div class="column is-1 has-text-centered">
          <no-ssr>
            <ui-svg :name="refundIcon"
                    height="32"
                    width="32">
            </ui-svg>
          </no-ssr>
          </div>                                                                                                                                                                                                                                                                                                                                
          <div class="column is-4 refund-item-name-section">
           <span class="refund-item-name">{{item.name}}</span>
          </div>
          <div class="column is-2 refund-item-date-section">
            <span class="refund-item-date">{{item.date}}</span>
          </div>
          <div class="column is-2 refund-item-amount-section">
            <span class="refund-item-amount button is-primary">{{item.amount}} F</span>
          </div>
          <div class="column is-3 has-text-right refund-item-state-section">
            <span class="button refund-item-state is-ok" v-if="item.state === 1">Validé</span>
            <span class="button refund-item-state is-wait" v-if="item.state === 2">En attente</span>
            <span class="button refund-item-state is-reject" v-if="item.state === 3">Rejeté</span>
          </div>
        </div>
        <div class="columns" v-for="(item, index) in validateRefunds" :key="item + index" v-if="sortRefunds === 'validate'">
          <div class="column is-1 has-text-centered">
            <no-ssr>
              <ui-svg :name="refundIcon"
                      height="32"
                      width="32">
              </ui-svg>
            </no-ssr>
          </div>
          <div class="column is-4 refund-item-name-section">
            <span class="refund-item-name">{{item.name}}</span>
          </div>
          <div class="column is-2 refund-item-date-section">
            <span class="refund-item-date">{{item.date}}</span>
          </div>
          <div class="column is-2 refund-item-amount-section">
            <span class="refund-item-amount button is-primary">{{item.amount}} F</span>
          </div>
          <div class="column is-3 has-text-right refund-item-state-section">
            <span class="button refund-item-state is-ok" v-if="item.state === 1">Validé</span>
            <span class="button refund-item-state is-wait" v-if="item.state === 2">En attente</span>
            <span class="button refund-item-state is-reject" v-if="item.state === 3">Rejeté</span>
          </div>
        </div>
        <div class="columns" v-for="(item, index) in rejectRefunds" :key="item + index" v-if="sortRefunds === 'rejected'">
          <div class="column is-1 has-text-centered">
            <no-ssr>
              <ui-svg :name="refundIcon"
                      height="32"
                      width="32">
              </ui-svg>
            </no-ssr>
          </div>
          <div class="column is-4 refund-item-name-section">
            <span class="refund-item-name">{{item.name}}</span>
          </div>
          <div class="column is-2 refund-item-date-section">
            <span class="refund-item-date">{{item.date}}</span>
          </div>
          <div class="column is-2 refund-item-amount-section">
            <span class="refund-item-amount button is-primary">{{item.amount}} F</span>
          </div>
          <div class="column is-3 has-text-right refund-item-state-section">
            <span class="button refund-item-state is-ok" v-if="item.state === 1">Validé</span>
            <span class="button refund-item-state is-wait" v-if="item.state === 2">En attente</span>
            <span class="button refund-item-state is-reject" v-if="item.state === 3">Rejeté</span>
          </div>
        </div>
        <div class="columns" v-for="(item, index) in waitingRefunds" :key="item + index" v-if="sortRefunds === 'waiting'">
          <div class="column is-1 has-text-centered">
            <no-ssr>
              <ui-svg :name="refundIcon"
                      height="32"
                      width="32">
              </ui-svg>
            </no-ssr>
          </div>
          <div class="column is-4 refund-item-name-section">
            <span class="refund-item-name">{{item.name}}</span>
          </div>
          <div class="column is-2 refund-item-date-section">
            <span class="refund-item-date">{{item.date}}</span>
          </div>
          <div class="column is-2 refund-item-amount-section">
            <span class="refund-item-amount button is-primary">{{item.amount}} F</span>
          </div>
          <div class="column is-3 has-text-right refund-item-state-section">
            <span class="button refund-item-state is-ok" v-if="item.state === 1">Validé</span>
            <span class="button refund-item-state is-wait" v-if="item.state === 2">En attente</span>
            <span class="button refund-item-state is-reject" v-if="item.state === 3">Rejeté</span>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "Acceuil",
        data () {
          return {
            arsenFloor: "arsen_floor",
            arsenLabel: "arsen",
            arsenFloorShadow: "027-floor-shadow",
            cardNumberLabel: "N°Contrat",
            cardDurationLabel: "Validité",
            shareIcon: "028-share",
            benificiaryIcon: "020-beneficiaire",
            beficiaryTitle: "Bénéficiaires",
            refundTitle: "REBOURSEMMENTS",
            refundIcon: "029-smiley",
            sortRefunds: "all"
          }
        },
      props: {
        subscriptionType: {
          type: String,
          default: "EXPRESS"
        },
        contratId: {
          type: String,
          default: "21242352332223123"
        },
        startDate: {
          type: String,
          default: "12/04/2019"
        },
        endDate: {
          type: String,
          default: "12/10/2019"
        },
        beneficiaryNumber: {
          type: Number,
          default: 10
        },
        refunds: {
          type: Array,
          default: () => [
            {
              name: "Consultation Généraliste",
              date: "22/10/2019",
              amount: 2245,
              state: 1
            },
            {
              name: "Consultation Généraliste",
              date: "22/10/2019",
              amount: 2245,
              state: 2
            },
            {
              name: "Consultation Généraliste",
              date: "22/10/2019",
              amount: 2245,
              state: 2
            },
            {
              name: "Consultation Généraliste",
              date: "22/10/2019",
              amount: 2245,
              state: 3
            },
            {
              name: "Consultation Généraliste",
              date: "22/10/2019",
              amount: 2245,
              state: 1
            },

          ]
        }
      },
      computed: {
        validateRefunds: function () {
          return this.refunds.filter(function (u) {
            return u.state === 1
          })
        },
        waitingRefunds: function () {
          return this.refunds.filter(function (u) {
            return u.state === 2
          })
        },
        rejectRefunds: function () {
          return this.refunds.filter(function (u) {
            return u.state === 3
          })
        },
      }
    }
</script>

<style scoped lang="scss">
  @import "../../assets/css/main.scss";
.acceuil-dashboard {
  width: 100%;

  .card-column {
    margin: 1%;
    background-color: $text-white;
    padding: 2%;
    border-radius: $button-border;
    .arsen-card {
      background: $text-blue;
      margin: 1%;
      border-radius: $button-border;
    }
    .subscription-type {
      font-family: $text-font;
      font-size: small;
      font-weight: bolder;
      text-transform: uppercase;
      color: $text-white;
      width: 100% !important;
      border: none;
    }
    .express {
      background-color: $text-green;
    }
    .pro {
      border: 2px solid $text-white;
      background: transparent;
    }
    .premium {
      background-color: $text-premium;
    }
    .arsen-account-details {
      margin: 1%;

      .details-title {
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: lighter;
        color: $text-black;
        opacity: .6;
      }
      .details-infos {
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: normal;
        color: $text-black;
      }
      .logic-connector {
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: lighter;
        color: $text-black;
        opacity: .6;
      }
    }
    .has-margin {
      padding-top: 10%;
    }
    .card-type {
      font-family: $text-font;
      font-size: small;
      color: $text-white;
      text-transform: uppercase;
      font-weight: bolder;
    }
  }
  .beneficiary-column {
    background-color: $text-white;
    border-radius: $button-border;
    margin: 1%;
    padding: 4%;

    .title-label {
      font-family: $text-font;
      font-size: $text-small;
      color: $text-black;
      font-weight: lighter;
    }
    .beneficiary-number {
      font-family: $text-font;
      font-size: 50px;
      color: $text-black;
      font-weight: bolder;
    }
  }

  .refund-section {
    background-color: $text-white;
    border-radius: $button-border;
    padding: 2%;

    .refund-title {
      font-family: $text-font;
      font-weight: bolder;
      padding-top: 5%;
    }
    .refund-state-select {
      background-color: $text-grey;
      border-radius: $button-border;
      font-family: $text-font;
    }
    .refund-item-name-section {
      padding-top: 2%;
      .refund-item-name {
        font-family: $text-font;
        font-size: $text-very-light;
        color: black;
        opacity: .8;
      }
    }
    .refund-item-date-section {
      padding-top: 2%;
      .refund-item-date {
        font-family: $text-font;
        font-size: $text-very-light;
        color: black;
        opacity: .8;
      }
    }
    .refund-item-amount-section {
      .refund-item-amount {
        background: transparent;
        width: 100%;
        border-radius: $button-border;
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: lighter;
        color: rgba(255,0,0,0.8);
      }
    }
    .refund-item-state-section {
      .refund-item-state {
        width: 75%;
        border-radius: $button-border;
        font-family: $text-font;
        font-size: $text-very-light;
        font-weight: normal;
        text-transform: capitalize;
      }
      .is-ok {
        color: $text-green;
        background-color: rgba(12, 209, 115, 0.2);
      }
      .is-wait {
        color: $text-premium;
        background-color: rgba(255, 168, 0, 0.2);
      }
      .is-reject {
        color: $text-red;
        background-color: rgba(255,0,0,0.2);
      }

    }
  }
}
</style>
