<template>
    <section class="beneficiary-section">
      <div class="columns beneficiary-header">
        <div class="is-four-fifths column">
          <span class="beneficiary-title" v-html="beneficiaryTitle"></span>
        </div>
        <div class="column has-text-left">
          <a class="button invite-button" v-html="inviteButton"></a>
        </div>
      </div>
      <div class="beneficiary-list-section">
        <div class="columns beneficiary-list-section-header">
          <div class="column is-1 has-text-centered beneficiary-header-icon-section">
            <span class="image is-rounded beneficiary-header-icon">
            <no-ssr>
              <ui-svg :name="beneficiaryIcon"
                      height="24"
                      width="24"
                     color="#000">

              </ui-svg>
            </no-ssr>
          </span>
          </div>
          <div class="column is-3 has-text-left beneficiary-name-section">
            <span class="beneficiary-name" v-html="beneficiaryNameLabel"></span>
          </div>
          <div class="column is-2 has-text-centered beneficiary-card-number-section">
            <span class="beneficiary-card-number" v-html="beneficiaryCardNumberLabel"></span>
          </div>
          <div class="column is-3 has-text-left beneficiary-email-section">
            <span class="beneficiary-email" v-html="beneficiaryEmailLabel"></span>
          </div>
          <div class="column is-3 has-text-centered beneficiary-tel-section">
            <span class="beneficiary-tel" v-html="beneficiaryTelLabel"></span>
          </div>
        </div>
        <div class="columns beneficiary-list-item-section" v-for="(item, index) in Beneficiary" :key="item + index"
             v-if="Beneficiary.length">
          <div class="column is-1 has-text-centered beneficiary-profil-section">
            <span class="image is-32x32">
              <img class="is-rounded" :src="item.profilImage">
            </span>
          </div>
          <div class="column is-3 has-text-left">
            <span class="beneficiary-item-name">{{item.fulname}}</span><br>
            <span class="beneficiary-item-id">id: {{item.id}}</span>
          </div>
          <div class="column is-2 has-text-centered beneficiary-item-card-id-section">
            <a class="button beneficiary-item-card-id">{{item.cardId}}</a>
          </div>
          <div class="column is-3 has-text-right beneficiary-item-email-section">
            <span class="beneficiary-item-email">{{item.email}}</span>
          </div>
          <div class="column is-3 has-text-centered beneficiary-item-phone-section">
            <span class="beneficiary-item-phone">{{item.phone}}</span>
          </div>
        </div>
        <div class="invite-beneficiary-section-block has-text-centered" v-if="!Beneficiary.length">
          <div class="invite-beneficiary-icon">
            <no-ssr>
              <ui-svg :name="inviteBeneficiaryIcon"
                      width="84"
                      height="84">
              </ui-svg>
            </no-ssr>
          </div>
          <div class="invite-beneficiary-text-section">
            <h3 class="no-beneficiary">{{noBeneficiary}}</h3>
            <h3 class="invite-her-label">{{inviteHer}}</h3>
          </div>
          <div class="invite-button-section">
            <nuxt-link class="button invite-button is-medium" to="dashboard/addBeneficiary">{{inviteButtonLabel}}</nuxt-link>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
  import defaultImage from "../../assets/static/moudji.png"
    export default {
        name: "Beneficiary",
        data () {
          return {
            beneficiaryTitle: "Bénéficiaire",
            inviteButton: "Inviter",
            beneficiaryIcon: "030-pofil-guarantie",
            beneficiaryNameLabel: "Nom Complet",
            beneficiaryCardNumberLabel: "N° Carte",
            beneficiaryEmailLabel: "Email",
            beneficiaryTelLabel: "Téléphone",
            inviteBeneficiaryIcon: "036-invite",
            noBeneficiary: "Vous n'avez pas encore ajouter de bénéficiares",
            inviteHer: "Faites-leur bénéficier de leur assurance en les invitant à s’inscire.",
            inviteButtonLabel: "Inviter des Bénéficiaires"

          }
        },
      props: {
        Beneficiary: {
          type: Array,
          default: () => [
        /**    {
              id: "123344455",
              cardId: "323222332",
              fulname: "John Doe",
              profilImage: defaultImage,
              email: "moudilouhello@arsen.com",
              phone: "65446365"
            },
            {
              id: "123344455",
              cardId: "323222332",
              fulname: "John Doe",
              profilImage: defaultImage,
              email: "moudilouhello@arsen.com",
              phone: "65446365"
            },
            {
              id: "123344455",
              cardId: "323222332",
              fulname: "John Doe",
              profilImage: defaultImage,
              email: "moudilouhello@arsen.com",
              phone: "65446365"
            },
            {
              id: "123344455",
              cardId: "323222332",
              fulname: "John Doe",
              profilImage: defaultImage,
              email: "moudilouhello@arsen.com",
              phone: "65446365"
            },
            {
              id: "123344455",
              cardId: "323222332",
              fulname: "John Doe",
              profilImage: defaultImage,
              email: "moudilouhello@arsen.com",
              phone: "65446365"
            }, **/
          ]
        }
      }
    }
</script>

<style scoped lang="scss">
  @import "../../assets/css/main.scss";
.beneficiary-section {
  .beneficiary-header {

    .beneficiary-title {
      font-family: $text-font;
      font-size: $button-size;
      color: $text-black-grey;;
    }
    .invite-button{
      background-color: $text-blue;
      border-radius: $button-border;
      font-family: $text-font;
      color: $text-white;
      font-size: medium;
      margin-top: 5%;
      width: 100%;
    }
  }
  .beneficiary-list-section {
    background-color: $text-white;
    border-radius: $button-border;

    .beneficiary-list-section-header {
      border-bottom: solid 5px $text-grey;
      margin-left: .05%;
      margin-right: .05%;
      .beneficiary-name-section {
        .beneficiary-name {
          font-family: $text-font;
          font-weight: normal;
          color: $text-black;
          font-size: medium;
          text-transform: uppercase;
        }
      }
      .beneficiary-card-number-section {
        .beneficiary-card-number {
          font-family: $text-font;
          font-weight: normal;
          color: $text-black;
          font-size: medium;
          text-transform: uppercase;
        }
      }
      .beneficiary-email-section {
        padding-left: 4.6%;
        .beneficiary-email {
          font-family: $text-font;
          font-weight: normal;
          color: $text-black;
          font-size: medium;
          text-transform: uppercase;
        }
      }
      .beneficiary-tel-section {
        .beneficiary-tel {
          font-family: $text-font;
          font-weight: normal;
          color: $text-black;
          font-size: medium;
          text-transform: uppercase;
        }
      }
    }
    .beneficiary-profil-section {
      padding-left: 2.5%;
      padding-top: 2.5%;
    }
    .beneficiary-item-name {
      font-family: $text-font;
      font-size: small;
      font-weight: bold;
      color: $text-black;
    }
    .beneficiary-item-id {
      font-family: $text-font;
      font-size: small;
      color: $text-black;
      font-weight: normal;
      opacity: .6;
      text-transform: uppercase;
    }
    .beneficiary-item-card-id-section {
      padding-top: 2.7%;
    }
    .beneficiary-item-card-id {
      font-family: $text-font;
      font-size: small;
      color: $text-green;
      font-weight: normal;
      opacity: .6;
      background-color: rgba(12, 209, 115, 0.2);
      text-transform: uppercase;
      border: none;
      width: 100%;
    }
    .beneficiary-item-email-section{
      padding-top: 3%;
    }
    .beneficiary-item-email-section {
      font-family: $text-font;
      font-size: small;
      color: $text-black;
      font-weight: normal;
    }
    .beneficiary-item-phone-section {
      padding-top: 2.5%;

      .beneficiary-item-phone {
        font-family: $text-font;
        font-size: small;
        color: $text-black;
        font-weight: normal
      }
    }
  }
  .beneficiary-header-icon-section {
    padding-left: 2%;
  }
  .invite-beneficiary-section-block {
    padding: 4%;

    .invite-beneficiary-text-section {
       font-family: $text-font;
      font-size: $text-info-small;
      color: $text-black;
      .no-beneficiary {
         font-weight: bolder;
      }
      .invite-her-label {
        font-weight: lighter;
        opacity: .8;
        width: 60%;
        line-height: 20px;
        margin: auto;
      }
    }
    .invite-button-section {

      .invite-button {
        margin-top: 2%;
        font-family: $text-font;
        font-weight: normal;
        border-radius: $button-border;
        color: $text-blue;
        border: solid $border-light $text-blue;
        text-transform: uppercase;
        font-size: $text-info;
        padding: 3%;
      }
    }
  }
}

</style>
