<template>
    <section class="document-section">
      <div class="columns document-header">
        <div class="column is-full document-header-title-section has-text-left">
          <div class="document-header-title" v-html="documentTitle"></div>
        </div>
      </div>
      <div class="columns document-upload-section">
        <div class="column has-text-centered contrat-section" @click="showContratBlock">
          <div class="contrat-icon-section">
            <no-ssr>
              <ui-svg :name="contratIcon"
                      width="82"
                      height="82">

              </ui-svg>
            </no-ssr>
          </div>
          <h5 class="contrat-icon-label icon-label" v-html="contratIconLabel"></h5>
        </div>
        <div class="column has-text-centered privacy-section">
          <div class="privacy-icon-section">
            <no-ssr>
              <ui-svg :name="privacyIcon"
                      width="82"
                      height="82">

              </ui-svg>
            </no-ssr>
          </div>
          <h5 class="privacy-icon-label icon-label" v-html="privacyIconLabel"></h5>
        </div>
      </div>
      <div class="columns facture-section">
        <div class="facture-section-title">
          <h5 class="facture-title" v-html="factureTitle"></h5>
        </div>
      </div>
      <div class="columns facture-list-section" v-for="(item, index) in Factures" :key="item + index">
        <div class="column is-four-fifths has-text-left facture-id-section">
          <span class="facture-id  facture-details">Facture {{item.id}}</span>
        </div>
        <div class="column facture-date-section has-text-right">
          <span class="facture-date facture-details">{{item.date}}</span>
        </div>
      </div>
      <div class="download-contrat-modal">
        <div class="modal " :class="{'is-active': showContrat === true}">
          <div class="modal-background contrat-show-background" @click="hideContratBlock"></div>
          <div class="modal-content contrat-card">
            <div class="card my-card">
              <div class="card-header contrat-section-card-header">
                <div class="header-title-section">
                  <span class="contrat-header-title">{{contratHeaderTitle}}</span>
                </div>
                <div class="download-button-section">
                  <span class="button download-button" @click="printContrat('contrat')">{{downloadButtonLabel}}</span>
                </div>
              </div>
              <div class="card-content contrat-text-section" id="contrat">
                <div class="text-placeholder box"></div>
                <div class="text-placeholder box"></div>
                <div class="text-placeholder box"></div>
                <div class="text-placeholder box"></div>
                <div class="text-placeholder box"></div>
                <div class="text-placeholder box"></div>
                <div class="text-placeholder  box"></div>
              </div>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="hideContratBlock"></button>
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "Document",
       data () {
          return {
            documentTitle: "Documents",
            contratIcon: "032-contrat",
            privacyIcon: "033-privacy",
            contratIconLabel: "Contrat d'assurance",
            privacyIconLabel: "Condition générale",
            factureTitle: "Factures",
            contratHeaderTitle: "Contrat d'assurance",
            downloadButtonLabel: "Imprimer",
            showContrat: false
          }
       },
      props: {
        Factures: {
          type: Array,
          default: () => [
            {
              id: 1223,
              date: "21/12/2019"
            },
            {
              id: 1223,
              date: "21/12/2019"
            },
            {
              id: 1223,
              date: "21/12/2019"
            },
            {
              id: 1223,
              date: "21/12/2019"
            },
          ]
        }
      },
      methods: {
        showContratBlock () {
          this.showContrat =true
        },
        hideContratBlock () {
          this.showContrat = false
        },
        printContrat(divName) {
          let contratContent = document.getElementById(divName).innerHTML;
          let originalContent = document.body.innerHTML;

          document.body.innerHTML = contratContent;
          window.print();
          document.body.innerHTML = originalContent
        }
      }
    }
</script>

<style scoped lang="scss">
  @import "../../assets/css/main.scss";
 .document-header-title {
   font-family: $text-font;
   font-size: $button-size;
   color: $text-black-grey;
 }
  .contrat-section {
    margin-right: 1%;
    padding: 5%;
    border-radius: $button-border;
    background-color: $text-white;
    cursor: pointer;
  }
  .privacy-section {
    border-radius: $button-border;
    padding: 5%;
    margin-left: 1%;
    background-color: $text-white;
  }
  .icon-label {
    padding-top: 2%;
    font-family: $text-font;
    font-weight: normal;
    font-size: large;
    color: $text-black;
  }
  .facture-section {
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 2%;
    background-color: $text-white;
    border-top-left-radius: $button-border;
    border-top-right-radius: $button-border;
    .facture-title {
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: $text-small;
      text-transform: uppercase;
      opacity: .6;
    }
  }
  .facture-list-section {
    cursor: pointer;
    background-color: $text-white;
    border-bottom-left-radius: $button-border;
    border-bottom-right-radius: $button-border;
    .facture-details {

      font-family: $text-font;
      font-weight: lighter;
      color: $text-black;
      font-size: medium;
    }
  }
  .contrat-card {
    border-radius: $button-border;
  }
  .contrat-section-card-header {
    padding: 4%;

    .header-title-section {
      width: 80%;
      padding-top: 1%;
      .contrat-header-title {
        font-family: $text-font;
        font-size: $text-light;
        font-weight: bolder;
        color: $text-black;
      }
    }
    .download-button-section {
      width: 20%;
      .download-button {
        width: 100%;
        font-family: $text-font;
        font-size: $text-small;
        color: $text-blue;
        border: $border-light solid $text-blue;

      }
    }
  }
  .contrat-text-section {

    .text-placeholder {
      box-shadow: none;
      border: none;
      background-color: $text-grey;
    }
    .text-placeholder:last-child{
      width: 30%;
    }
  }
  .contrat-show-background {
    background-color: RGBA(0,0,0,0.25);
  }
</style>
