<template>
    <section class="guarantie-section">
      <div class="columns guarantie-header">
        <div class="column is-four-fifths guarantie-title-section">
          <span class="guarantie-title-section" v-html="guarantieTitleSection"></span>
        </div>
        <div class="column guarantie-sort-select-section has-text-right">
          <div class="select">
            <select class="guarantie-sort-select">
              <option>Catégories</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
      <div class="guarantie-list-section">
        <div class="columns guarantie-list-section-header">
        <div class="column is-1 has-text-centered">
          <span class="image is-rounded guarantie-header-icon">
            <no-ssr class="">
              <ui-svg :name="guarantieIcon"
                      height="24"
                      width="24">
                
              </ui-svg>
            </no-ssr>
          </span>
        </div>
        <div class="column is-4 has-text-left">
          <span class="couvert-section-label" v-html="couvertLabel"></span>
        </div>
        <div class="column is-4 has-text-right">
          <span class="left-amount" v-html="leftAmount"></span>
        </div>
        <div class="column is-3 has-text-right">
          <span class="reclamed-label" v-html="reclamedLabel"></span>
        </div>
      </div>
        <div class="columns guaranties-item" v-for="(item, index) in guaranties" :key="item + index">
        <div class="column is-1 has-text-centered">
          <no-ssr>
            <ui-svg :name="refundIcon"
                    height="24"
                    width="24">
            </ui-svg>
          </no-ssr>
        </div>
        <div class="column is-4 has-text-left">
          <span class="guarantie-name">{{item.name}}</span><br>
          <span class="guarantie-subtitle">{{maxrembouresmentLabel}}</span><br>
          <span class="guarantie-max-ammount">{{item.maxAmount}}F</span>
        </div>
        <div class="column is-4 has-text-right">
          <span class="get-amount">{{item.getAmount}}</span>
        </div>
        <div class="column is-3 has-text-right">
          <span class="left-amount-display">{{item.leftAmount}}</span>
        </div>
      </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "Guarantie",
        data () {
          return {
            guarantieTitleSection: "Guaranties",
            guarantieIcon: "030-pofil-guarantie",
            couvertLabel: "Couverture",
            leftAmount: "Cotation restante",
            reclamedLabel: "Déjà reclamé",
            refundIcon: "030-pofil-guarantie",
            maxrembouresmentLabel: "Remboursements jusqu’à"
          }
        },
      props: {
        guaranties: {
          type: Array,
          default: () => [
            {
              name: "Consultation Généraliste",
              maxAmount: 30000,
              leftAmount: 2432,
              getAmount: 3200
            },

            {
              name: "Consultation Généraliste",
              maxAmount: 30000,
              leftAmount: 2432,
              getAmount: 3200
            },

            {
              name: "Consultation Généraliste",
              maxAmount: 30000,
              leftAmount: 2432,
              getAmount: 3200
            },

            {
              name: "Consultation Généraliste",
              maxAmount: 30000,
              leftAmount: 2432,
              getAmount: 3200
            }
          ]
        }
      }
    }
</script>

<style scoped lang="scss">
 @import "../../assets/css/main.scss";
  .guarantie-title-section {
    font-family: $text-font;
    font-size: $button-size;
    color: $text-black-grey;
  }
 .guarantie-sort-select-section{
   margin-top: 2%;
   .guarantie-sort-select {
     background-color: $text-white;
     border-radius: $button-border;
     font-family: $text-font;
   }

 }
  .guarantie-list-section {
    background-color: $text-white;
    border-radius: $button-border;
    padding: 3%;

    .guarantie-header-icon {
      background-color: $text-grey;
      padding-top: 7.5%;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-left: 10%;
    }

    .couvert-section-label {
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: medium;
      text-transform: uppercase;
    }
    .left-amount {
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: medium;
      text-transform: uppercase;
    }
    .reclamed-label {
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: medium;
      text-transform: uppercase;
    }
    .guarantie-name {
      font-family: $text-font;
      font-weight: normal;
      color: $text-blue;
      font-size: medium;
    }
    .guarantie-subtitle {
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: smaller;
      opacity: .8;
    }
    .guarantie-max-ammount {
      font-family: $text-font;
      font-weight: normal;
      color: $text-black;
      font-size: smaller;
      opacity: .8;
    }
    .get-amount {
      font-family: $text-font;
      font-weight: normal;
      color: $text-red;
      font-size: medium;
    }
    .left-amount-display {
      font-family: $text-font;
      font-weight: normal;
      color: $text-green;
      font-size: medium;
    }
  }

</style>
