<template>
    <section class="header">
      <nav class="navbar nav is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" @click="showOption">
            <no-ssr>
              <ui-svg
                :name="arsenLogo"
                height="17"
                width="100">
              </ui-svg>
            </no-ssr>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-content">
          <div class="navbar-start">
            <a class="navbar-item nav-item subscription-item"
            :class="{'express': subscriptionType.toString().toLowerCase() ==='express',
            'pro': subscriptionType.toString().toLowerCase() ==='pro',
             'premium': subscriptionType.toString().toLowerCase() ==='premium' }">
              <span class="abonement-type" :style="{color: iconColor}">{{subscriptionType}}</span>
              <span class="subscription-icon"><no-ssr>
              <ui-svg :name="subscriptionIcon"
                      height="14"
                      width="14"
                      :color="iconColor">

            </ui-svg>
            </no-ssr></span>
            </a>
            <a class="navbar-item nav-item" v-html="initRembourssement" @click="showRefundModal">
            </a>
            <a class="navbar-item nav-item" v-html="assure"></a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable nav-dropdown">
            <div class="navbar-link">
              <div class="media">
                <div class="media-left">
                  <p class="image is-32x32 image-section">
                    <img class="is-rounded" :src="profilImageUrl">
                  </p>
                </div>
                <div class="media-content">
                    <h3 class="name" v-html="Username"></h3>
                    <h5 class="compte-type" v-html="compteType" v-show="isPro === false"></h5>
                    <h5 class="compte-type" v-html="compteTypePro" v-show="isPro === true"></h5>
                </div>
              </div>
            </div>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item no-color" v-html="switchPro" v-show="isPro === false"></a>
              <a class="navbar-item no-color" v-html="setting" @click="showProfil"></a>
              <a class="navbar-item with-color" v-html="logOut" @click="logOutUser"></a>
            </div>
          </div>
          </div>
        </div>
      </nav>
    </section>
</template>

<script>
    export default {
        name: "Header",
       data () {
          return {
            arsenLogo: "arsen",
            initRembourssement: "Initier un rembrsment",
            assure: "Assurer",
            switchPro: "Switcher au compte pro",
            setting: "Profil et Paramètres",
            logOut: "Déconnexion",
            subscriptionIcon: "011-selected",
            showModal: false,
            compteType: "Compte Personnel",
            compteTypePro: "Compte Pro"
          }
       },
       props: {
         Username: {
           type: String,
           default: "Jonh Doe"
         },
         subscriptionType: {
           type: String,
           default: "EXPRESS"
         },
         profilImageUrl: {
           type: String,
           default: ""
         },
         isPro: {
           type: Boolean,
           default: false
         }
       },
      computed: {
        iconColor: function () {
          if (this.subscriptionType.toString().toLowerCase() === "express") {
            return "#0CD173"
          }
          if (this.subscriptionType.toString().toLowerCase() === "pro") {
            return "#2864F0"
          }
          if (this.subscriptionType.toString().toLowerCase() === "premium") {
            return "#FFA800"
          }
        }
      },
      methods: {
        showRefundModal () {
          this.showModal = true;
          this.$emit("showModal", this.showModal)
        },
        showProfil () {
          this.$emit("showProfil", 5)
        },
        showOption () {
          this.$emit("showOption", 0)
        },
        async logOutUser  () {
          await this.$store.commit('loggedUsers/setInfo', null);
          this.$router.push("/users/signin");
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
.header {
  .nav {
    height: 45px !important;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
  }
  .nav-item {
    margin-top: .7%;
    margin-left: 4%;
    font-family: $text-font;
    color: $text-blue;
  }
  .nav-dropdown {
    margin-top: -2.7%;
  }
  .image-section {
    padding: 5%;
  }
  .name {
    font-family: $text-font;
    color: black;
    font-size: 10px;
    font-weight: bolder;
  }
  .compte-type {
    font-family: $text-font;
    font-size: 10px;
  }
  .no-color {
    font-family: $text-font;
    color: black;
  }
  .with-color {
    font-family: $text-font;
    color: $text-red;
  }
  .subscription-item {
    width: 150px;
    height: 40px !important;
    padding-top: 1%;
    border-radius: 5px;

    .abonement-type {
      display: inline-block;
      margin: auto;
    }
    .subscription-icon {
      padding-top: 2%;
    }
  }
  .express {
    background-color: rgba(12, 209, 115, 0.2);
  }
  .pro {
    background-color: rgba(40, 100, 240, 0.2);
  }
  .premium {
    background-color: rgba(255,0,0,0.2);
  }
}
</style>
