<template>
    <section class="profil-page">
      <div class="columns profil-header">
        <div class="column is-full profil-header-title-section has-text-left">
          <div class="profil-header-title" v-html="profilTitle"></div>
        </div>
      </div>
      <div class="columns  profil-details-sections">
        <div class="column profil-image-section is-one-quarter has-text-centered">
          <div class="profil-image image is-96x96">
            <img :src="profilImage" class="is-rounded">
          </div>
          <div class="change-profil-image-section">
            <div class="file change-button-block">
              <label class="file-label">
                <input class="file-input change-button" type="file" name="resume">
                <span class="file-cta  change-button">
                  <span class="file-label" v-html="changebuttonLabel">
                  </span>
                   </span>
              </label>
            </div>
          </div>
        </div>
        <div class="column profil-infos-section is-full">
          <div class="columns name-details-section">
            <div class="column firstname-section">
              <div class="field firstname-field">
                <label class="label firstname-label  name-label" v-html="firstNameLabel"></label>
                <div class="control">
                  <input class="input firstname-input  name-input" type="text" :value="userFirstName" disabled="disabled">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field lastname-field">
                <label class="label lastname-label name-label" v-html="lastNameLabel"></label>
                <div class="control">
                  <input class="input lastname-input name-input" type="text" :value="userLastName" disabled="disabled">
                </div>
              </div>
            </div>
          </div>
          <div class="columns personal-details-section">
            <div class="column phone-section">
              <div class="field phone-field">
                <label class="label phone-label  name-label" v-html="phoneLabel"></label>
                <div class="control">
                  <input class="input phone-input  name-input" type="tel" :value="userPhone" @focus="showModifPhoneFun">
                </div>
              </div>
              <div class="modif-button-section has-text-right" v-if="showModifPhone === true">
                <a  class="button modif-button" v-html="modifLabel"></a>
              </div>
            </div>
            <div class="column email-section">
              <div class="field email-field">
                <label class="label email-label name-label" v-html="emailLabel"></label>
                <div class="control">
                  <input class="input email-input name-input" type="email" :value="userEmail" @focus="showModifEmailFun">
                </div>
              </div>
              <div class="modif-button-section has-text-right" v-if="showModifEmail === true">
                <a  class="button modif-button" v-html="modifLabel"></a>
              </div>
            </div>
          </div>
          <div class=" pro-detail-section">
            <div class="columns personal-details-section">
              <div class="column profession-section">
                <div class="field profession-field">
                  <label class="label profession-label  name-label" v-html="professionLabel"></label>
                  <div class="control">
                    <input class="input profession-input  name-input" type="text" :value="userProfession">
                  </div>
                </div>
              </div>
              <div class="column entreprise-section">
                <div class="field entreprise-field">
                  <label class="label entreprise-label name-label" v-html="entrepriseLabel"></label>
                  <div class="control">
                    <input class="input entreprise-input name-input" type="text" :value="entrepriseName">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns personal-details-section">
              <div class="column password-section">
                <div class="field password-field">
                  <label class="label password-label name-label" v-html="PasswordLabel"></label>
                  <div class="control">
                    <input class="input password-input name-input" type="password" placeholder="Nouveau mot de Passe">
                  </div>
                </div>
              </div>
              <div class="column confirm-password-section">
                <div class="field condfirm-password-field">
                  <label class="label confirm-password-label  name-label" v-html="ConfirmPasswordLabel"></label>
                  <div class="control">
                    <input class="input confirm-password-input  name-input" type="password" placeholder="Confirmer">
                  </div>
                </div>
                <div class="modif-button-section has-text-right">
                  <a  class="button modif-button" v-html="saveLabel"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="delete-button-section has-text-right">
            <a class="button delete-button">
            <span class="icon is-small">
              <no-ssr>
                <ui-svg :name="deleteIcon"
                       height="15"
                       width="15"
                       >
                </ui-svg>
              </no-ssr>
            </span>
            <span>{{deleteButtonLabel}}</span>
            </a>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: "Profil",
       data () {
          return {
            profilTitle: "Profil et Paramètres",
            changebuttonLabel: "Changer photo",
            firstNameLabel: "Prénom",
            lastNameLabel: "Nom",
            phoneLabel: "Téléphone",
            emailLabel: "Email",
            modifLabel: "Modifier",
            saveLabel: "Enregistrer les changements",
            PasswordLabel: "Mot de Passe",
            ConfirmPasswordLabel: "Nouveau mot de passe",
            professionLabel: "Profession",
            entrepriseLabel: "Entreprise",
            deleteButtonLabel: "Supprimer mon compte",
            deleteIcon: "039-lock",
            showModifPhone: false,
            showModifEmail: false
          }
       },
      props: {
        profilImage: {
          type: String,
          default: "https://bulma.io/images/placeholders/128x128.png"
        },
        userFirstName:{
          type: String,
          default: "Jon"
        },
        userLastName: {
          type: String,
          default: "De la Doe"
        },
        userPhone: {
          type: String,
          default: "62 92 20 91"
        },
        userEmail: {
          type: String,
          default: "jonhdoe@gmail.com"
        },
        userProfession: {
          type: String,
          default: "John"
        },
        entrepriseName: {
          type: String,
          default: "John"
        }
      },
      methods: {
        showModifPhoneFun () {
          this.showModifPhone = true
        },
        showModifEmailFun () {
          this.showModifEmail  = true
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
   .profil-header {
    .profil-header-title-section {
      .profil-header-title {
        font-family: $text-font;
        font-size: $button-size;
        color: $text-black-grey;
      }
    }
  }
   .profil-image-section {
    .profil-image {
      margin: auto;
    }
    .change-profil-image-section {
       padding-top: 5%;
      padding-left: 10%;
      .change-button-block {
        .change-button {
          font-family: $text-font;
          color: $text-black;
          background-color: $text-white;
          font-size: $text-very-light;
          border: none;
          border-radius: $button-border;
        }
      }
    }
  }
   .profil-infos-section {
   .name-details-section {
     padding: 1%;
     border-top-right-radius: $button-border;
     border-top-left-radius: $button-border;
     background-color:$text-white;
     .name-label {
       font-family: $text-font;
       font-size: $text-info;
       color: $text-black;
       font-weight: bolder;
     }
     .name-input {
       background-color: transparent;
       border: $border-light solid $text-grey;
       font-family: $text-font;
       font-size: $text-info;
       color: $text-black;
       opacity: .7;
       font-weight: lighter;
       box-shadow: none !important;
     }
   }
   .personal-details-section {
     border-bottom-right-radius: $button-border;
     border-bottom-left-radius: $button-border;
     background-color:$text-white;
     .name-label {
       font-family: $text-font;
       font-size: $text-info;
       color: $text-black;
       font-weight: bolder;
     }
     .name-input {
       background-color: transparent;
       border: $border-light solid $text-grey;
       font-family: $text-font;
       font-size: $text-info;
       color: $text-black;
       opacity: .7;
       font-weight: lighter;
       box-shadow: none !important;
     }
     .modif-button {
       font-family: $text-font;
       color: $text-white;
       font-size: $text-info-small;
       font-weight: lighter;
       background-color: $text-blue;
       height: $button-size;
       border-radius: $button-border;
       width: 50%;
     }
   }
   .pro-detail-section {
     margin-top: 3%;
   }
  }
   .delete-button-section {
     margin-top: 5%;

     .delete-button {
       font-family: $text-font;
       color: $text-red;
       font-size: $text-info-small;
       font-weight: lighter;
       background-color: rgba(255,0,0,0.2);
       height: $button-size;
       border-radius: $button-border;
       width: 30%;
     }
   }
</style>
