<template>
    <section class="search-item">
     <article class="search-item-item">
       <span class="item-title">{{item.title}}</span> <br>
     </article>
    </section>
</template>

<script>
    export default {
        name: "SearchItem",
        data ()  {
          return {
              refundLabel: "Faites vous rembourser jusqu'a :"
          }
        },
      props: {
        item:[]
      }
    }
</script>
<style lang="scss" scoped>
  @import "../../assets/css/main.scss";
  .search-item-item {
    margin: 2%;
  }
</style>
