<template>
    <section class="share-section">
      <div class="columns share-header">
        <div class="column is-full share-header-title-section has-text-left">
          <div class="share-header-title" v-html="shareTitle"></div>
        </div>
      </div>
      <div class="share-block-section columns">
        <div class="column is-half share-message-section">
        <div class="section-title" v-html="messageTitle"></div>
         <div class="columns object-section">
           <div class="column is-1 object-block">
             <span class="object">Objet: </span>
           </div>
           <div class="column object-label-block">
             <span class="object-label" v-html="objectLabel"></span>
           </div>
         </div>
         <div class="message-section">
           <p class="message" v-html="message"></p>
         </div>
        </div>
        <div class="column is-half share-mail-section">
          <h3 class="section-title" v-html="mailTitle"></h3>
          <div class="email-input-section">
            <no-ssr>
            <input-tag placeholder="Appuyer sur entrer après chaque email" v-model="tags" validate="email" class="email-input"></input-tag>
            </no-ssr>
          </div>
          <div class="share-button-section has-text-right">
            <a class="share-button button" v-html="shareButtonLabel" @click="shareTo"></a>
          </div>
        </div>
      </div>
    </section>
</template>

<script>

import InputTag from "vue-input-tag/src/components/InputTag.vue";
export default {
  name: "Share",
  components: {InputTag},
  data() {
    return {
      shareTitle: "Partager",
      messageTitle: "Message à envoyer",
      mailTitle: "Liste des emails",
      objectLabel: "Rejoins Arsen, l’assurance santé autrement",
      message: "Arsen Assurance, c’est ma nouvelle assurance santé, 100% digitale. C’est des garanties claires et complètes, des médecins à disposition 24h/24 et j’économise près de 300 mille francs l’an. Tu vas adorer. Télécharge l’application via ce lien: <strong>www.google.playstore.com/55545151</strong>",
      shareButtonLabel: "Partager",
      tags: [],
    }
  },
   methods: {
     shareTo () {
       console.log(this.tags)
     }
   }
}
</script>

<style scoped lang="scss">
  @import "../../assets/css/main.scss";
  .share-header-title {
    font-family: $text-font;
    font-size: $button-size;
    color: $text-black-grey;
  }
  .share-block-section {
    .share-message-section {
      margin-right: 1%;
      background-color: $text-white;
      padding: 2%;
      border-radius: $button-border;
    }
    .share-mail-section {
      margin-left: 1%;
      padding: 2%;
    }
    .section-title {
      font-family: $text-font;
      font-weight: normal;
      font-size: $text-very-light;
      color: $text-black;
      opacity: .7;
    }
    .object-block {
      margin-right: 2%;
      margin-top: 2%;
      .object {
        font-weight: bolder;
        font-size: $text-very-light;
        color: $text-black;

      }
    }
    .object-label-block {
      margin-left: 2%;
      margin-top: 2%;

      .object-label {
        font-weight: lighter;
        font-size: $text-very-light;
        color: $text-black;
        opacity: .8;
      }
    }
    .message-section {
      background-color: $text-grey;
      padding: 2%;

      .message {
        background-color: $text-grey;
        font-weight: normal;
        font-size: $text-very-light;
        color: $text-black;
        text-align: justify-all;
        opacity: .9;
      }
    }
    .email-input {
      font-family: $text-font;
      font-size: $text-very-light;
      border: none;
      background-color: $text-white;
      padding: 5%;
      border-radius: $button-border;

    }
    .share-button-section {
      margin-top: 2%;
    }
    .share-button {
      background-color: $text-blue;
      border: $button-border;
      font-family: $text-font;
      font-weight: bolder;
      color: $text-white;
      width: 40%;
    }
  }
 .input-tag {
    background-color: $text-blue !important;
    color: $text-white !important;
    border: none !important;
  }

</style>
