<template>
  <section class="personal-subscription">
    <div class="personal-subscription-block has-text-centered">
      <Subscription v-show="step === 1" @cursorDep="isReadyNext" @subscriptionType = "subscriptionType"
                    @semAn="planDuration" @subscriptionAmount="subscriptionAmount" @startDate="startDate"></Subscription>
      <Familly v-show="step === 2" @addAdult="addAdult" @addChild="addChild" @activeNext="isReadyNext"></Familly>
      <Devis v-show="step === 3" :child-number="subscription.nbrMineur" :adult-number="subscription.nbrAdulte"
             @tt="getTotal" :base-price="baseAmount" :yearly="yearly" :deviType="subscription.plan.toUpperCase()"></Devis>
      <payment v-show="step === 4" :montant="montant"
               :plan="this.subscription.plan" :duration="this.subscription.duration"
               :date-prise-effet="this.subscription.datePriseEffet"
               :date-creation="this.subscription.dateCreation"
               :nbr-adulte="this.subscription.nbrAdulte"
               :nbr-mineur="this.subscription.nbrMineur"
               :user-id="this.subscription.userId"
               ></payment>
      <div class="next-button-section has-text-right" v-show="step !== 4">
        <a  class="button next-button" :class="{'is-ready': isActive === true}" @click="nextStep">{{goNext}}</a>
      </div>
    </div>
  </section>
</template>

<script>
  import Subscription from "../../../../components/users_connexion_components/Subscription";
  import Familly from "../../../../components/users_connexion_components/Familly";
  import Devis from "../../../../components/users_connexion_components/Devis";
  import Payment from "../../../../components/users_connexion_components/Payment";
  export default {
    name: "index",
    components: {Payment, Devis, Familly, Subscription},
    data () {
      return {
        goNext: "Continuer",
        isActive: false,
        step: 1,
        subscription: {
          plan: "",
          duration: 0,
          datePriseEffet: "",
          dateCreation:  new Date().toISOString().slice(0,10).toString(),
          nbrAdulte: 0,
          nbrMineur: 0,
          isPaid: "",
        //  userId: this.$store.state.loggedUsers.userInfo.userId
        },
        baseAmount: 0,
        montant: 0
      }
    },
    methods: {
      nextStep () {
        if (this.isActive === true) {
          this.step++
        }
      },
      isReadyNext (answer) {
        this.isActive = answer
      },
      planDuration (answer) {
        if (answer === true) {
          this.subscription.duration = 6;
        } else if (answer === false) {
          this.subscription.duration= 12;
        }
      },
      subscriptionAmount (answer) {
        this.baseAmount = answer;
      },
      subscriptionType (answer) {
        this.subscription.plan = answer
      },
      startDate (answer) {
        this.subscription.datePriseEffet = answer;
      },
      addAdult (answer) {
        this.subscription.nbrAdulte = answer;
        console.log(this.subscription.nbrAdulte)
      },
      addChild (answer) {
        this.subscription.nbrMineur = answer;
        console.log(this.subscription.nbrMineur)
      },
      getTotal (answer) {
       this.montant = answer;
       this.isActive = true
      }
    },
    computed: {
      yearly: function () {
        if (this.subscription.duration === "6") {
          return false
        } else if (this.subscription.duration === "12") {
          return true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../../assets/css/main.scss";
  .personal-subscription {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;

    .personal-subscription-block {
      margin: auto;
      width: 70%;
      margin-top: 50vh !important;
      transform: translateY(-50%);

      .next-button {
        margin-top: 2%;
        width: 20%;
        margin-right: 10%;
        font-family: $text-font;
        height: $button-size;
        font-size: $text-info;
        background-color: $text-grey;
        color: $text-white;
      }
      .is-ready {
        background-color: $text-blue;
        color: $text-white;

      }
    }

  }

</style>
