<template>
  <section class="container sign-up">
    <nav class="navbar is-fixed-top Myborder">
      <div class="container">
        <div class="navbar-brand">
          <nuxt-link class="navbar-item" to="/" style="font-weight:bold;">
            <img :src="arsenLogo" class="arsen-logo">
            <div class="verticalDevider"></div>
          </nuxt-link>
        </div>
      </div>
    </nav>
    <div class="success-section">
      <Success :show-success="showSuccess" :golink="goLink"></Success>
    </div>
    <div class="step-section has-text-centered">
      <Status v-show="step === 1" @selected="isOkAnswer" @status="clientStatus"></Status>
      <CardId v-show="step === 2 && statusClient === 0" @buttonIsReady="isOkAnswer" @emitCardId="getUserCardId"></CardId>
      <EmailPro v-show="step === 2 && statusClient === 1" @readyToNext="isOkAnswer" @getEntrepriseEmail="getEntrepriseEmail"></EmailPro>
      <PhoneEmail v-show="step === 3 && statusClient === 0" @readyToContinue="isOkAnswer" @choiceType="emailOrPhone"
      @getPhoneNumber="getPhoneNumber" @getEmailAddress="getEmailAddress"></PhoneEmail>
      <Confirm v-show="(step === 4 && statusClient === 0 && choiceTypeStepThree === 2) ||
       (step === 4 && statusClient === 0 && choiceTypeStepThree === 1) || (step === 3 && statusClient === 1) "
               @isCodeOk="isOkAnswer" :phonelast-two="lastTwo" :sendEmail="sendEmail"
      @code="getToken" :error="error" :isEmail="isEmailChoice"></Confirm>
      <Password v-show="(step === 5 && statusClient === 0) || (step === 4 && statusClient === 1)" @isConfirmed="isOkAnswer"
      @getPassword="getPass"></Password>
      <Personal v-show="step === 6 && statusClient === 0" @readyToNext="isOkAnswer"
                @sexe="getSexe" @name="getUserName" @surname="getUserSurname" @residence="getUserresidence"
                @date="getUserDate" @job="getUserJob"></Personal>
      <EntrepriseInfos v-show="step === 5 && statusClient === 1" @readyToNext="isOkAnswer" @getDenomination="getDenomination"
                       @getForm="getForm" @getIFU="getIFU" @getWeb="getWeb" @getSocial="getSocial"
                       @getCollaborate="getCollaborate"></EntrepriseInfos>
    </div>
    <div class="submit-button-section has-addons-right">
      <a class="button is-default"
              :class="{'is-ready': isReady === true }" type="submit"
              @click="changeStep">
        <span class="icon load-icon" v-if="showLoader === true">
          <self-building-square-spinner
            :animation-duration="4000"
            :size="20"
            color="#FFF"/>
        </span>
        {{buttonLabel}}
      </a>
    </div>
  </section>
</template>

<script>
  import ArsenLogo from "../../../assets/static/logo.png"

  // *** Step Components importation ***
  // *** Independant Connexion Components ***
  import Status from "../../../components/users_connexion_components/Status.vue"
  import CardId from "../../../components/users_connexion_components/CardId.vue"
  import PhoneEmail from "../../../components/users_connexion_components/PhoneEmail.vue"
  import Confirm from "../../../components/users_connexion_components/Confirm.vue"
  import Password from "../../../components/users_connexion_components/Password.vue"
  import Personal from "../../../components/users_connexion_components/Personal.vue"
  import Subscription from "../../../components/users_connexion_components/Subscription.vue"
  import Familly from "../../../components/users_connexion_components/Familly.vue"
  import Devis from "../../../components/users_connexion_components/Devis.vue"
  import Payment from "../../../components/users_connexion_components/Payment.vue"

  // *** Entreprise  Connexion Components ***
  import EmailPro from "../../../components/users_connexion_components/EmailPro.vue"
  import EntrepriseInfos from "../../../components/users_connexion_components/EntrepriseInfos";
  import Collaborate from "../../../components/users_connexion_components/Collaborate";
  import DevisEntreprise from "../../../components/users_connexion_components/DevisEntreprise";
  import ConfirmEmail from "../../../components/users_connexion_components/ConfirmEmail";


  // *** import axios base url and api route url f
  import axios from "~/plugins/axios"
  import apiRoutes from "~/plugins/apiroute"
  import SelfBuildingSquareSpinner from "../../../node_modules/epic-spinners/src/components/lib/SelfBuildingSquareSpinner";
  import Success from "../../../components/users_connexion_components/Success";
  export default {
    name: "index",
    data () {
      return {
        arsenLogo: ArsenLogo,
        buttonLabel: "Continuer",
        isReady:false,
        step: 1,
        choiceTypeStepThree: 1,
        showPrice: 0,
        showType: "",
        numberChild: 0,
        subscriptionType: true,
        numberAdult: 0,
        numberCollaborate: 0,
        statusClient: -1,
        lastTwo: "",
        goLink: "/users/signin",
        showLoader: false,
        error: false,
        showSuccess: false,
        users:{
          card_id: "",
          user_email: "",
          user_phone: "",
          country_code: "+229",
          token: "",
          user_password: "",
          user_type: "",
          gender: "",
          birthday: "",
          firstname: "",
          lastname: "",
          residence: "",
          profession: "",
          accountId: ""
        },
        entreprise: {
          entreprise_email: "",
          token: "",
          entreprise_password: "",
          entreprise_name: "",
          entreprise_legal: "",
          entreprise_ifu: "",
          entreprise_social_siege: "",
          entreprise_website: "",
          entreprise_min_salary: "",
          accountId: ""
        }
      }
    },
    components: {
      Success,
      SelfBuildingSquareSpinner,
      ConfirmEmail,
      DevisEntreprise,
      Collaborate,
      Status,
      CardId,
      PhoneEmail,
      Confirm,
      Password,
      Personal,
      Subscription,
      Familly,
      Devis,
      Payment,
      EmailPro,
      EntrepriseInfos
    },
    methods: {
      changeStep () {
        if (this.isReady) {
          if (this.step === 3 && this.choiceTypeStepThree === 2 && this.statusClient === 0) {
            /* send confirmation code by sms  */
            this.showLoader = true;
            axios.post(apiRoutes.phoneValidation, {
              "country_code": this.users.country_code,
              "phone": this.users.user_phone,
              "ci": this.users.card_id
            }).then((response) => {
              this.step++;
              this.isReady = false;
              this.showLoader = false;
              this.users.accountId = response.data.accountId;
              return response
            }).catch((e) => {
              if (e.response.status === 500) {
                alert("Numéro de Téléphone déjà utilisé");
                this.showLoader = false;
              }
            })
          }
          else if (this.step === 4 && this.choiceTypeStepThree === 2 && this.statusClient === 0) {
            //confirm phone independant phone number
            this.showLoader = true;
            axios.put(apiRoutes.confirmPhone, {
              "token": this.users.token,
              "phone": this.users.user_phone,
              "country_code": this.users.country_code
            }).then((response) => {
              this.step++;
              this.isReady = false;
              this.showLoader = false;
              return response
            }).catch((e) => {
              if (e.response.status === 498)  {
                this.step = 4;
                this.error = true;
                this.isReady = false;
                this.showLoader = false;
              }
            })
          }
          else if (this.step === 6 && this.choiceTypeStepThree === 2 && this.statusClient === 0) {
            // create user with phone
            this.showLoader = true;
            axios.post(apiRoutes.signUpParticulier, {
               "password": this.users.user_password,
               "firstName": this.users.firstname,
               "lastName": this.users.lastname,
               "gender": this.users.gender,
               "birthday": this.users.birthday,
               "residencePlace": this.users.residence,
               "profession": this.users.profession,
               "accountId": this.users.accountId
             }).then((response) => {
               console.log(response.data);
              this.showLoader = false;
              this.showSuccess = true
            }).catch((e) => {
               console.log(e);
              this.showLoader = false;
            })
          }
          else if (this.step === 3 && this.choiceTypeStepThree === 1 && this.statusClient === 0) {
            /* They choice mail signUp option
               Send verification code in email
             */
            this.showLoader = true;
            axios.post(apiRoutes.emailValidation, {
              "emailAddress": this.users.user_email,
              "ci": this.users.card_id,
              "isBusiness": "false"
            }).then((response) => {
              this.step++;
              this.showLoader = false;
              this.isReady = false;
              this.users.accountId = response.data.accountId;
              return response
            }).catch((e) => {
              if (e.response.status === 500) {
                alert("Mail déjà utilisé");
                this.showLoader = false;
              }
            })
          }
          else if (this.step === 4 && this.choiceTypeStepThree === 1 && this.statusClient === 0) {
             /*
             Confirm email code
                 "accountId": "5cadd007ddc2eb0006674dd7"
              */
            this.showLoader = true;
            axios.put(apiRoutes.confirmEmail, {
               "token": this.users.token,
               "emailAddress":  this.users.user_email
             }).then((response) => {
                this.step++;
              this.showLoader = false;
              this.isReady = false;
               return response
             }).catch((e) => {
               if (e.response.status === 498)  {
                 this.step = 4;
                 this.error = true;
                 this.isReady = false;
                 this.showLoader = false;
               }
             })
          }
          else if (this.step === 6 && this.choiceTypeStepThree === 1 && this.statusClient === 0 ) {
            // create user with email
            this.showLoader = true;
            axios.post(apiRoutes.signUpParticulier, {
              "password": this.users.user_password,
              "firstName": this.users.firstname,
              "lastName": this.users.lastname,
              "gender": this.users.gender,
              "birthday": this.users.birthday,
              "residencePlace": this.users.residence,
              "profession": this.users.profession,
              "accountId": this.users.accountId,
            }).then((response) => {
              console.log(response.data);
              this.showLoader= false;
              this.showSuccess = true
            }).catch((e) => {
              console.log(e);
              this.showLoader= false;
            })
          }

          /*
          entreprise signUp section
          */
          else if (this.step === 2 && this.statusClient === 1)  {
            /*
            send confirmation code in entreprise email pro
             */
            this.showLoader = true;
             axios.post(apiRoutes.entrepriseEmailValidation, {
               "emailAddress": this.entreprise.entreprise_email,
               "isBusiness": "true"
             }).then((response) => {
               this.step++;
               this.isReady = false;
               this.showLoader = false;
               this.entreprise.accountId = response.data.accountId;
               return response
             }).catch((e) => {
               if (e.response.status === 500) {
                 alert("Mail déjà utilisé");
                 this.showLoader = false;
               }
             })
          }
          else if (this.step === 3 && this.statusClient === 1) {
            /*
            confirm entreprise confirmation code
             */
            this.showLoader = true;
            axios.put(apiRoutes.confirmEmail, {
              "token": this.entreprise.token,
              "emailAddress": this.entreprise.entreprise_email
            }).then((response) => {
              this.step++;
              this.isReady = false;
              this.showLoader = false;
              return response
            }).catch((e) => {
              if (e.response.status === 498)  {
                this.step = 4;
                this.error = true;
                this.isReady = false;
                this.showLoader = false;
              }
            })
          }
          else if(this.step === 5 && this.statusClient === 1) {
            this.showLoader =true;
            axios.post(apiRoutes.signUpEntreprise, {
              "password": this.entreprise.entreprise_password,
              "denomination": this.entreprise.entreprise_name,
              "formeLegale": this.entreprise.entreprise_legal,
              "identiteFiscale": this.entreprise.entreprise_ifu,
              "siegeSocial": this.entreprise.entreprise_social_siege,
              "siteWeb": this.entreprise.entreprise_website,
              "ageMoyenCollaborateur": this.entreprise.entreprise_min_salary,
              "accountId": this.entreprise.accountId
            }).then((response) => {
              this.showLoader = false;
              this.showSuccess = true;
              console.log(response)
            }).catch((e) => {
             console.log(e)
            })
          }

          else {
            this.step++;
            this.isReady = false
          }

        }
        if (this.step === 1){
            alert("Veillez choisir un Statut")
        }
      },
      isOkAnswer (answer) {
        this.isReady = answer;
      },
      emailOrPhone (answer) {
         this.choiceTypeStepThree = answer
      },
      show (answer) {
        this.showPrice = answer
      },
      showT (answer) {
        this.showType = answer.toUpperCase()
      },
      addChild (answer) {
        this.numberChild = answer
      },
      addAdult (answer) {
        this.numberAdult = answer
      },
      semAn (answer) {
        this.subscriptionType = answer
      },
      clientStatus (answer) {
        this.statusClient = answer
      },
      addCollaborate (answer) {
        this.numberCollaborate = answer
      },
      getUserCardId (answer) {
        this.users.card_id = answer
      },
      getPhoneNumber (answer) {
        this.users.user_phone = answer;
        this.lastTwo = answer.substr(-2)
      },
      getToken (answer) {
        if (this.statusClient === 0) {
          this.users.token = answer
        } else if (this.statusClient === 1) {
          this.entreprise.token = answer
        }
      },
      getPass(answer) {
        if (this.statusClient === 0) {
          this.users.user_password = answer
        } else if (this.statusClient === 1) {
          this.entreprise.entreprise_password = answer
        }
      },
      getSexe (answer) {
        this.users.gender = answer
      },
      getUserName(answer) {
        this.users.firstname = answer
      },
      getUserSurname(answer){
        this.users.lastname = answer
      },
      getUserresidence(answer) {
        this.users.residence = answer
      },
      getUserDate(answer) {
        this.users.birthday = answer
      },
      getUserJob(answer){
        this.users.profession = answer
      },
      getEmailAddress(answer){this.users.user_email = answer},
      getEntrepriseEmail(answer){this.entreprise.entreprise_email = answer},
      getDenomination(answer){this.entreprise.entreprise_name = answer},
      getForm(answer){this.entreprise.entreprise_legal = answer},
      getIFU(answer){this.entreprise.entreprise_ifu = answer},
      getWeb(answer){this.entreprise.entreprise_website = answer},
      getSocial(answer){this.entreprise.entreprise_social_siege = answer},
      getCollaborate(answer){this.entreprise.entreprise_min_salary = answer}

    },
    computed: {
      isEmailChoice: function () {
        return this.choiceTypeStepThree === 1;
      },
      sendEmail: function () {
        if (this.statusClient === 0) {
          return this.users.user_email
        } else if (this.statusClient === 1){
          return this.entreprise.entreprise_email
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/css/main.scss";
  .Myborder {
    border-bottom: $border-small solid $text-grey;
  }
  .sign-up {
    height: 100vh;
    position: relative;
  }
  .step-section {
    height: 70%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 55% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .submit-button-section {
    margin: auto;
    position: relative;
    left: 57%;
    margin-top: 8% !important;
  }
  .is-default {
    height: $button-size;
    width: $button-width;
    border-radius: $button-border;
    background-color: $text-grey;
    opacity: .6;
    cursor: pointer;
  }
  .is-default:hover {
    border: none;
  }
  .is-ready:hover {
    color: $text-white;
  }
  .is-ready {
    background-color: $text-blue;
    opacity: 1;
    cursor: pointer;
    color: $text-white;
  }
  .is-disable {
    display: none;
  }
  .load-icon {
    display: inline-block;
    margin-right: 5px !important;
  }
</style>
